<div class="sidenav">
    <app-warehouse-nav [(unitsActive)]="unitsActive" [(warehouseItemsVisible)]="warehouseItemsVisible"
        [(calendarText)]="calendarText" [(destination)]="destination" [(pdfLoading)]="pdfLoading"
        [(reorderedItems)]="reorderedItems" @fadeIn />
</div>
<div class="warehouse-calendar">
    <p-datepicker #calendar name="deadline" [(ngModel)]="defaultDate" view="month" dateFormat="mm-yy"
        [readonlyInput]="true" [maxDate]="maxDate" (onSelect)="onSelectMonth()" />
</div>
<div class="box">
    @if (warehouseItemsVisible()) {
    <app-warehouse-items [(reorderedItems)]="reorderedItems" />
    }
    @if (unitsActive()) {
    <app-warehouse-units [(cards)]="cards" />
    }
    @if (masterAddVisible()) {
    <app-master-add [(masterAddVisible)]="masterAddVisible" [cards]="cards()" />
    }
</div>
<app-confirm />