.sidenav {
    position: fixed;
    height: 100%;
    z-index: 9999;
}


.box {
    width: 100% !important;
    display: flex;
    float: right;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin-top: 50px;
}