@if(isLoading) {
<app-spinner />
}
@else {
<div class="cardWrapper">
    <div style="display:flex; width: 100%;">
        <div class="flip-card" [class.hover]="flipped()">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    @if (user().role === 'Admin') {
                    <app-admin-warehouse (checkSelected)="onFlipCard($event)" (outputUnit)="onSelectUnit()" />
                    }
                    @else if (user().role === 'Master') {
                    <app-master-warehouse (outputUnit)="onSelectUnit()" />
                    }
                </div>
                <div class="flip-card-back">
                    <!-- <app-add-warehouse-item (isLoading)="onIsLoading($event)" (backSelected)="onFlipCard($event)" /> -->
                    <app-add-warehouse-item (backSelected)="onFlipCard($event)" />
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <p-dialog [header]="unitHeaderTitle" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }"
            position="bottom">
            @if (!unitIsLoading) {
            <form [formGroup]="unitForm">
                <div class="col">
                    <div class="row text-center mb-2">
                        <label for="username" class="font-semibold w-6rem">{{selectedUnit().date}}</label>
                    </div>
                    <div class="row mb-4">
                        <input pInputText id="username" type="number" class="flex-auto w-25 ms-auto me-auto"
                            autocomplete="off" #input (input)="onInput(input.value)" [value]="this.amount?.value" />
                    </div>
                </div>
                @if (selectedUnit().amount !== null && selectedUnit().amount !== undefined) {
                <div class="flex" style="text-align: center;">
                    <p-button icon="pi pi-trash" label="Smazat" (onClick)="onClearWarehouseUnit()" id="deleteBtn" />
                </div>
                }
                <div class="flex" style="text-align: center;">
                    <p-button icon="pi pi-times" label="Zrušit" (onClick)="visible = false" id="cancelBtn" />
                    <p-button icon="pi pi-check" [label]="selectedUnit().amount === null ? 'Zapsat' : 'Upravit'"
                        id="addBtn" [disabled]="unitForm.invalid" (onClick)="onSubmit()" />
                </div>
            </form>
            } @else {
            <div id="spinner">
                <img class="rotating" src="spinner.png" alt="spinner" />
            </div>
            }
        </p-dialog>
    </div>
</div>
}
<app-confirm />