<div class="box">
    @if (!isLoading()) {

    @if (!edit()) {
    <div class="users" @fadeIn @fadeOut>
        <div class="row">
            @if(filteredUsers().length > 0) {
            @for(user of filteredUsers(); track $index) {
            <app-user-item [user]="user" (selectedId)="editUser($event)" />
            }

            @for(i of getEmptyLines(); track $index) {
            <app-empty-block />
            }
            } @else {
            <h4 class="mt-5">Žádní uživatelé v databázi.</h4>
            }
        </div>
    </div>
    }

    @if (edit()) {
    <div class="edit-div" @fadeIn @fadeOut>
        <app-user (back)="goBack()" (deletedUser)="onRemoveUser($event)" (createdUser)="onCreate($event)"
            (updatedUser)="onUpdateUser($event)" />
    </div>
    }

    } @else {
    <div class="skeleton" @fadeOut>
        @for (i of [1,2,3,4,5,6,7,8,9,10]; track i) {
        <div class="row blind mt-1">
            @if (i === 5) {
            <div class="text title">Připravuji uživatele ...</div>
            }
        </div>
        }
    </div>
    }

    <app-users-nav [(edit)]="edit" [(filter)]="filter" [(role)]="role" [(selectedList)]="selectedList" @fadeIn
        @fadeOut />

    @if (filteredUsers().length > 0 && !edit()) {
    <div class="pagination-div" @fadeIn @fadeOut>
        <app-user-pagination (pageSelected)="onSelectPage($event)" [users]="filteredUsers()"
            [currentPage]="currentPage()" [hasNextPage]="hasNextPage()" [hasPreviousPage]="hasPreviousPage()"
            [lastPage]="lastPage()" />
    </div>
    }

</div>
<app-confirm />