<div class="box">
    @if (!store.isLoading()) {

    <div class="users" animate.enter="fade-in" animate.leave="fade-out">
        <div class="row">
            @if(store.filteredUsers().length > 0) {
            @for(user of store.filteredUsers(); track $index; let i = $index) {
            <app-user-item [user]="user" />
            }

            @for(i of store.fakeArray(); track $index) {
            <app-empty-block />
            }
            } @else {
            <h4 class="mt-5">Žádní uživatelé v databázi.</h4>
            }
        </div>
    </div>

    } @else {
    <div class="skeleton" animate.leave="fade-out">
        @for (i of [1,2,3,4,5,6,7,8,9,10]; track i) {
        <div class="row blind mt-1"></div>
        }
    </div>
    }

    <app-users-nav animate.enter="fade-in" animate.leave="fade-out" />

    @if (store.filteredUsers().length > 0) {
    <div class="pagination-div" animate.enter="fade-in" animate.leave="fade-out">
        <app-user-pagination />
    </div>
    }

</div>
<app-confirm />