<div class="box">
    @if (!store.isLoading()) {

    <div class="users" animate.enter="fade-in" animate.leave="fade-out">
        <div class="row">
            @if(store.filteredUsers().length > 0) {
            @for(user of store.filteredUsers(); track $index; let i = $index) {
            <app-user-item [user]="user" />
            }

            @for(i of store.fakeArray(); track $index) {
            <app-empty-block />
            }
            } @else {
            <h4 class="mt-5">Žádní uživatelé v databázi.</h4>
            }
        </div>
    </div>

    } @else {
    <div class="skeleton" animate.leave="fade-out">
        @for (i of [1,2,3,4,5,6,7,8,9,10]; track i) {
        <div class="row blind mt-1"></div>
        }
    </div>
    }

    @let filter = store.filter;
    @let role = store.role;

    <app-navigation animate.enter="fade-in" animate.leave="fade-out">
        <app-nav-button (click)="createUser()" icon="bi-person-add" />
        <app-nav-button [loading]="store.isLoading()" (click)="store.getUsers()" icon="bi-arrow-clockwise" />
        <app-nav-button [inactive]="filter() !== 'F-M'" (click)="store.setFilter('F-M')" label="F-M" />
        <app-nav-button [inactive]="filter() !== 'OVA'" (click)="store.setFilter('OVA')" label="OVA" />
        <app-nav-button [inactive]="role() !== 'User'" (click)="store.setRole('User')" label="U" />
        <app-nav-button [inactive]="role() !== 'Master'" (click)="store.setRole('Master')" label="M" />
        <app-nav-button [inactive]="role() !== 'Admin'" (click)="store.setRole('Admin')" label="A" />
        <app-nav-button [inactive]="filter() !== 'All' || role() !== ''" (click)="store.setFilter('All')" label="VŠE" />
    </app-navigation>

    @if (store.filteredUsers().length > 0) {
    <app-paging animate.enter="fade-in" animate.leave="fade-out">
        <app-prev-next-button icon="bi-caret-left" [disabled]="!store.hasPreviousPage()"
            (click)="store.hasPreviousPage() && store.setCurrentPage(store.currentPage() - 1)" />
        @for (page of store.buttonArray(); track $index) {
        <app-page-nav-button [active]="store.currentPage() === $index + 1" (click)="store.setCurrentPage($index + 1)">
            {{ $index + 1 }}
        </app-page-nav-button>
        }
        <app-prev-next-button icon="bi-caret-right" [disabled]="!store.hasNextPage()"
            (click)="store.hasNextPage() && store.setCurrentPage(store.currentPage() + 1)" />
    </app-paging>
    }
</div>