.sidenav {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
    align-items: center !important;
    width: 10rem;
    float: left;

    ul {
        margin: 2rem 0 0 0;
        padding: 0;
    }
}

.box {
    margin-top: 100px;
    width: calc(100% - 10rem) !important;
    display: grid;
    float: right;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 100%;

    .users {
        position: relative;
        height: 100%;
        grid-column: 1;
        grid-row: 1;
        width: 670px;
        margin: 0 auto;
        position: relative;

        .row {
            h4 {
                font-weight: bold;
                color: #24355A;
            }
        }

        .pagination-div {
            position: absolute;
            top: calc(100vh - 255px);
            right: calc(100% - 150%);
        }
    }

    .edit-div {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        width: 670px;
        position: relative;
        height: 100%;
    }

    .skeleton {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 670px;
        position: relative;
        height: 100%;

        .title {
            font-size: 1.5rem;
            font-weight: bold;
            color: #cecece;
        }

        .blind {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 40px !important;
            border-radius: 15px;
            margin: 10px 0;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            text-align: center;
            background: linear-gradient(90deg,
                    #eee 25%,
                    #fff 50%,
                    #eee 75%);
            background-size: 400% 100%;
            animation: shimmer 2s infinite linear;
            border-radius: 8px;
        }
    }
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}