:host-context(cdk-dialog-container) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.375em;
    background-color: #fff;
    filter: drop-shadow(0 0 2em rgba(#000, 0.5));
    padding: 2em 2em;
}

.select-user {
    width: 25rem;

    .close,
    .user {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .user {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: 1px solid #24355A;
        margin: 10px 0;
        transition: 0.3s;

        p {
            color: #24355A;
            font-weight: 500;
            margin-bottom: 0 !important;
            transition: 0.3s;
            font-family: "Poppins", sans-serif;
            font-size: 14px;
        }
    }

    .user:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background: #24355A;

        p {
            color: #fff;
        }
    }

    .close {
        margin-top: 15px;

        .closeBtn {
            background: #24355A;
            color: #fff;
            border-radius: 5px;
            border: 1px solid #24355A;
            font-weight: bold;
            height: 30px;
            width: 120px;
            transform: 0.3s;
            font-family: "Poppins", sans-serif;
            font-size: 14px;
        }

        .closeBtn:active {
            opacity: 0.7;
        }
    }
}