<div class="select-user" [style]="sectionStyles()">
  @let uniqueUsers = store.uniqueUsers();

  <div #scrollContainer class="users-list">
    @for (user of uniqueUsers; track user.userId) {
      <div
        class="user d-flex justify-content-center w-100 flex-column align-items-center"
        (click)="onSelectUser(user.userId)"
      >
        <p>{{ user.userName }} {{ user.userSurname }}</p>
      </div>
    }
  </div>

  <div class="close d-flex justify-content-center w-100">
    <button class="closeBtn" (click)="onClose()">
      <i class="bi bi-x-circle"></i>&nbsp;Zavřít
    </button>
  </div>
</div>
