:host-context(cdk-dialog-container) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    filter: drop-shadow(0 0 2em rgba(#000, 0.5));
    padding: 2em 2em 2em;
    border-radius: 7px;
}

::placeholder {
    color: var(--main-dark);
    font-weight: 700;
}

.form-div {
    border: 1px solid var(--main-dark);
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    background: var(--main);
    border-radius: 7px;

    #addBtn,
    #loadingBtn {
        color: var(--white);
        background: var(--main-dark);
        height: 30px;
        cursor: pointer;
        opacity: 1;
        font-size: 13px;
        letter-spacing: 1px;
        border-radius: 7px;

        .bi {
            font-size: 1.3rem;
        }
    }

    #addBtn:disabled {
        background: var(--main-disabled);
    }

    #loadingBtn.loading {
        background: var(--main-dark);
        pointer-events: none;
    }

    .row {
        min-width: 500px;
        min-height: 30px !important;
        margin: 20px;

        .title {
            height: 60px;
            padding-left: 0 !important;
            padding-right: 0 !important;
            letter-spacing: 1px;

            h1 {
                font-size: 1.3rem;
                color: var(--main-dark);
                font-weight: 700;
                margin: 0px;
            }
        }

        .col-6 {
            .label {
                text-align: left !important;
                color: var(--main-dark);
                letter-spacing: 1px;

                label {
                    font-weight: 600;
                }
            }

            div .card {
                border: none;
            }

            div .card input:disabled {
                border: 1px solid var(--main-disabled);
                background: var(--table-row-hover);
                text-align: center;
                border-radius: 7px;
            }

            .label.invalid {
                color: var(--main-red);
            }

            .p-textarea {
                border-radius: none !important;
            }

            textarea,
            textarea.p-textarea,
            textarea:disabled {
                border: 1px solid var(--main-disabled);
                font-size: 0.9rem;
                color: var(--main-dark);
                resize: none;
                background: var(--white);
                border-radius: 7px !important;
                font-weight: 500;
            }

            textarea:active,
            textarea:focus {
                border: 1px solid var(--main-disabled) !important;
                outline: none;
            }

            textarea.invalid {
                border: 1px solid var(--main-red) !important;
                color: var(--main-red);
            }

            .counter {
                position: absolute;
                right: 60px;
                font-size: 0.75rem;
                color: var(--main-disabled);
            }

            .counter.counterError {
                color: var(--main-red);
                font-weight: 500;
            }

            .cancel,
            .delete {
                height: 30px;
                color: var(--white);
                letter-spacing: 1px;
                border-radius: 7px;
            }

            .cancel {
                border: 1px solid var(--main-back);
                background: var(--main-back);
            }

            .delete {
                border: 1px solid var(--main-red);
                background: var(--main-red);
            }

            .btn .spinner-border {
                --bs-spinner-width: 1.4rem;
                --bs-spinner-height: 1.4rem;
            }
        }

        .col-6.inline {
            display: flex;
        }

        .col {
            display: flex;
            flex-direction: column;
            justify-content: center !important;
            padding-left: 0 !important;
            padding-right: 0 !important;

            .timefromDiv,
            .timetoDiv {
                visibility: var(--visibility);
            }

            p-datepicker.shiftFrom span input {
                position: relative !important;
                top: 0px !important;
                height: 10px !important;
            }
        }

        .col.persoDiv {
            visibility: var(--visibility);
        }

        .error {
            text-align: left;
            width: 100%;

            p {
                font-size: 0.75rem;
                color: var(--main-red);
                font-weight: 500;
                margin-top: -4px !important;
                position: absolute;
                left: 60px;
            }

            p.perso {
                left: auto;
                margin-top: 0px !important;
            }
        }
    }

    .flex {
        visibility: var(--visibility);
    }
}