<div class="form-div">
    @let shift = selectedShift();
    <form>
        <div class="row">
            <div class="title d-flex justify-content-center align-items-center flex-row w-100">
                <h1>{{ shift.id === 0 ? 'Nová směna' : 'Upravit směnu' }} - {{ card()!.userName }} {{
                    card()!.userSurname.charAt(0).toUpperCase() }}. - {{ getPosition(card()!.userPosition) }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="label mt-2">
                    <label for="username" class="font-semibold w-6rem">Datum</label>
                </div>
                <div>
                    <div class="card flex justify-content-center">
                        <div class="calendarDivShift" (click)="datePicker.open()">
                            <app-date-picker #datePicker [minDate]="minDate" [maxDate]="maxDate" [formField]="form.date"
                                [date]="shift.date" />
                        </div>
                    </div>
                </div>
                <div class="label mt-2">
                    <label for="username" class="font-semibold w-6rem">Začátek</label>
                </div>
                <div>
                    <div class="card flex justify-content-center timefromDiv">
                        <app-d-picker [formField]="form.from" [proposalDate]="form.date().value()" />
                    </div>

                    @if (showTimeFromError()) {
                    <div class="error">
                        @for (error of form.from().errors(); track error.kind) {
                        <p>{{ error.message }}</p>
                        }
                    </div>
                    }
                </div>
                <div class="label mt-2">
                    <label for="username" class="font-semibold w-6rem">Konec</label>
                </div>

                <div>
                    <div class="card flex justify-content-center timetoDiv">
                        <app-d-picker [formField]="form.to" [proposalDate]="form.date().value()" />
                    </div>
                    @if (showTimeToError()) {
                    <div class="error">
                        @for (error of form.to().errors(); track error.kind) {
                        <p>{{ error.message }}</p>
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="col-6">
                <div class="label mt-2">
                    <label for="float-input" class="fw-bold">Perso</label>
                </div>
                <div class="persoDiv">
                    <textarea id="float-input" [class.invalid]="form.perso().invalid()" rows="7" cols="34"
                        [value]="form.perso().value()" (input)="onPersoInput($event)"
                        (blur)="form.perso().markAsTouched()">
                    </textarea>
                    <div class="counter" [class.counterError]="form.perso().value().length > MAX_PERSO">
                        {{ form.perso().value().length }}/ {{ MAX_PERSO }}
                    </div>

                    @if (showPersoError()) {
                    <div class="error">
                        @for (error of form.perso().errors(); track error.kind) {
                        <p class="perso">{{ error.message }}</p>
                        }
                    </div>
                    }
                </div>
            </div>
        </div>

        @if (shift && shift.id > 0) {
        <div class="row" hide>
            <div class="col-6">
                <div class="label mt-2">
                    <label class="font-semibold w-6rem">Zapsal</label>
                </div>
                <div>
                    <div class="card flex justify-content-center">
                        <input [placeholder]="shift.createdBy" disabled />
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="label mt-2">
                    <label class="font-semibold w-6rem">Zapsáno</label>
                </div>
                <div>
                    <div class="card flex justify-content-center">
                        <input [placeholder]="getTime(shift.createdAt!)" disabled />
                    </div>
                </div>
            </div>
        </div>

        @if (shift.updatedBy !== null) {
        <div class="row" hide>
            <div class="col-6">
                <div class="label">
                    <label class="font-semibold w-6rem">Upravil</label>
                </div>
                <div>
                    <div class="card flex justify-content-center">
                        <input [placeholder]="shift.updatedBy" disabled />
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="label">
                    <label class="font-semibold w-6rem">Upraveno</label>
                </div>
                <div>
                    <div class="card flex justify-content-center">
                        <input [placeholder]="getTime(shift.updatedAt!)" disabled />
                    </div>
                </div>
            </div>
        </div>
        }
        }

        <div class="row">
            <div class="col-6 inline">
                @if (shift.id === 0) {
                <button type="button"
                    class="w-100 cancel fw-bold d-flex flex-row justify-content-center align-items-center"
                    (click)="onHideForm()"><i class="bi bi-caret-left"></i>&nbsp;Zpět</button>
                } @else {
                <button type="button"
                    class="w-50 cancel fw-bold me-1 d-flex flex-row justify-content-center align-items-center"
                    (click)="onHideForm()"><i class="bi bi-caret-left"></i>&nbsp;Zpět</button>
                <button type="button"
                    class="w-50 fw-bold delete ms-1 d-flex flex-row justify-content-center align-items-center"
                    (click)="!shiftsStore.isDeleting() && onDelete()">
                    @if(!shiftsStore.isDeleting()) {
                    <i class="bi bi-trash"></i>&nbsp;Smazat
                    } @else {
                    <span class="spinner-border spinner-border-sm text-white me-1"></span>
                    Odstraňuji...
                    }
                </button>
                }
            </div>
            <div class="col-6">
                @if(!shiftsStore.isSaving()) {
                <button type="submit" id="addBtn"
                    class="btn w-100 fw-bold d-flex flex-row justify-content-center align-items-center"
                    (click)="onSave()" [disabled]="form().invalid() || (isUnchanged() && shift.id > 0)"><i
                        class="bi bi-pencil-square"></i>&nbsp;{{shift.id
                    === 0 ? 'Zapsat' : 'Upravit'}}</button>
                } @else {
                <button class="btn w-100 loading fw-bold d-flex flex-row justify-content-center align-items-center"
                    id="loadingBtn" type="button">
                    <span class="spinner-border spinner-border-sm text-white me-1"></span>
                    {{ shift.id > 0 ? 'Ukládám...' : 'Upravuji...' }}
                </button>
                }
            </div>
        </div>
    </form>
</div>