.block {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    .upper {
        position: relative;
        top: 13px;
        left: -6px;
    }

    .divider {
        position: relative;
        rotate: 30deg;
    }

    .lower {
        position: relative;
        bottom: 11px;
        right: -6px;
    }
}