.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.9rem;

    .upper {
        position: relative;
        top: 3px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .lower {
        position: relative;
        bottom: 2px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
}