.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.6rem;

    .upper {
        position: relative;
        top: 11px;
        left: -5px;
    }

    .divider {
        position: relative;
        rotate: 30deg;
    }

    .lower {
        position: relative;
        bottom: 8px;
        right: -5px;
    }
}