<div class="skeleton" animate.enter="fade-in" animate.leave="fade-out">
    <div class="empty-table">
        <div class="empty-table-head">
            <div class="empty-first-head-cell"></div>
            @for (day of days(); track $index) {
            <div class="empty-head-cell"></div>
            }
        </div>

        <div class="empty-body">
            @for(card of emptyCards; track $index) {
            <div class="empty-table-row">
                <div class="empty-first-table-cell"></div>
                @for (day of days(); track $index) {
                <div class="empty-cell">
                </div>
                }
            </div>
            }
        </div>
    </div>
</div>