<p-dialog [modal]="true" [visible]="updateVisible()" [style]="{ width: '25rem' }">
    <form autocomplete="off" id="form" [formGroup]="proposalForm">
        <div class="title">
            @if ((timeFrom?.hasError('required') || proposalForm.hasError('invalidTime') ||
            timeTo?.hasError('required')) && !selectedProposal().delete)
            {
            <app-notification [notify]="true" [width]="'35px'" [height]="'35px'" />
            }
            @else {
            <h1>{{ `${selectedProposal().user} - ${selectedProposal().date}` }}</h1>
            }
        </div>

        <div class="row mt-1 mb-4 buttons-line">
            <button type="button" class="btn whole" (click)="onUpdate('W')">X</button>
            <div class="morning" (click)="onUpdate('M')">
                <div class="upper">11</div>
                <div class="lower">17</div>
            </div>
            <div class="afternoon" (click)="onUpdate('A')">
                <div class="upper">17</div>
                <div class="lower">22</div>
            </div>
            <button type="button" class="btn destination" (click)="onUpdate(destination())">{{ destination() === 'F-M' ?
                'OVA' : 'F-M'}}</button>
            <button type="button" class="btn delete" (click)="onDelete()"><i class="bi bi-trash"></i></button>
        </div>

        <div class="row proposal-times">
            <p-datepicker size="small" id="timeFrom" inputId="datepicker-timeFrom" [timeOnly]="true"
                formControlName="timeFrom" (input)="onClearErrorMessage()" />
            <div class="minus">
                -
            </div>
            <p-datepicker size="small" id="timeTo" inputId="datepicker-timeTo" [timeOnly]="true"
                formControlName="timeTo" (input)="onClearErrorMessage()" />
        </div>

        <div class="error">
            @if (errorMessage()) {
            <p>{{ errorMessage() }}</p>
            }
        </div>

        <div class="row mt-5">
            <div class="col-6 right">
                <button type="button" class="btn cancel" (click)="updateVisible.set(false)"><i
                        class="bi bi-arrow-left-circle"></i>&nbsp;Zpět</button>
            </div>
            <div class="col-6">
                <button type="submit" class="btn submit" (click)="onUpdate()" [disabled]="proposalForm.invalid"><i
                        class="bi bi-pencil-square"></i>&nbsp;Upravit</button>
            </div>
        </div>
    </form>
</p-dialog>