p-dialog {
    .p-dialog-mask {
        .p-dialog.p-component {
            .p-dialog-header {
                .p-dialog-header-actions {
                    .p-dialog-close-button {
                        display: none !important;
                    }
                }
            }
        }
    }
}

form {
    width: 100%;
    margin-bottom: 25px;

    .buttons-line {
        display: flex;
        justify-content: center;
    }

    .error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 90%;
        height: 30px;

        p {
            padding: 0;
            font-weight: bold;
            color: #F53B57;
            margin: 0;
        }
    }

    .delete {
        color: #fff;
        height: 40px;
    }

    .submit {
        background: #24355A;
        border: 1px solid #24355A;
        color: #fff;
        font-weight: 800;
        font-size: 0.9em;
        cursor: pointer;
        opacity: 1;
    }

    .submit:disabled {
        background: #1e81b0;
        border: 1px solid #1e81b0;
    }

    .cancel {
        background: #F53B57;
        border: 1px solid #F53B57;
        color: #fff;
        font-weight: 800;
        font-size: 0.9em;
        cursor: pointer;
        opacity: 1;
    }

    .delete,
    .whole,
    .destination {
        font-weight: bold;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;

        .bi {
            font-size: 1rem;
        }
    }

    .delete {
        background: #F53B57;

        .bi {
            font-size: 1rem;
        }
    }

    .whole {
        background: #009900;
    }

    .destination {
        background: #000000;
        font-size: 0.7rem !important;
        padding: 2px;
    }

    .morning,
    .afternoon {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        color: #fff;
        font-weight: bold;
        margin: 0 10px;

        .upper {
            position: relative;
            top: 13px;
            left: -6px;
        }

        .divider {
            position: relative;
            rotate: 30deg;
        }

        .lower {
            position: relative;
            bottom: 11px;
            right: -6px;
        }
    }

    .morning:hover,
    .afternoon:hover {
        cursor: pointer;
    }

    .morning {
        background: #ff8800;
    }

    .afternoon {
        background: #cc0000;
    }

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 30px;
        margin-bottom: 10px;
        margin-top: 10px;
        justify-content: center;
        width: 100%;
    }
}

h1 {
    font-size: 1.2rem;
    color: #24355A;
    font-weight: bold;
}