<p-dialog [modal]="true" [visible]="updateVisible()" [style]="{ width: '25rem' }">
    <form autocomplete="off" id="form" [formGroup]="proposalForm">
        <div id="focus" (click)="updateVisible.set(false)"><i class="bi bi-x"></i></div>
        <div class="title">
            @if ((timeFrom?.hasError('required') || proposalForm.hasError('invalidTime') ||
            timeTo?.hasError('required')) && !selectedProposal().delete)
            {
            <app-notification [notify]="true" />
            }
            @else {
            <h1>{{ `${selectedProposal().user} - ${selectedProposal().date}` }}</h1>
            }
        </div>
        @if(!selectedProposal().delete) {
        <div class="row proposal-times">
            <p-datepicker size="small" id="timeFrom" inputId="datepicker-timeFrom" [timeOnly]="true"
                formControlName="timeFrom" />
            <div class="minus">
                -
            </div>
            <p-datepicker size="small" id="timeTo" inputId="datepicker-timeTo" [timeOnly]="true"
                formControlName="timeTo" />
        </div>
        }
        @if(selectedProposal().delete) {
        <div class="row proposal-delete">
            <h4>Odstranit návrh?</h4>
        </div>
        }



        @if(!selectedProposal().delete) {
        <button type="button" class="btn delete" (click)="onDelete()"
            [style.visibility]="masterAdd() ? 'hidden' : ''"><i class="bi bi-trash"></i></button>
        }
        @if (!masterAdd()) {
        <button type="submit" class="btn submit" (click)="onUpdate()"
            [disabled]="proposalForm.invalid && !selectedProposal().delete">{{
            `${selectedProposal().delete ? 'Odstranit' :
            'Upravit'}`}}</button>
        } @else {
        <button type="submit" class="btn submit" (click)="onUpdate()" [disabled]="proposalForm.invalid">Přidat</button>
        }


        <!-- <div class="row mt-4 mb-4">
        <div class="col-6 inline">
            @if (user().id === 0) {
            <button class="w-100 cancel" (click)="onGoBack()"><i class="bi bi-x"></i>&nbsp;Zpět</button>
            } @else {
            <button class="w-50 cancel me-1" (click)="onGoBack()"><i class="bi bi-x"></i>&nbsp;Zpět</button>
            <button class="w-50 cancel ms-1" (click)="onDelete()"><i class="bi bi-trash"></i>&nbsp;Smazat</button>
            }
        </div>
        <div class="col-6">
            @if (!isLoading()) {
            <button type="submit" class="btn submit w-100" (click)="onSubmit()"
                [disabled]="userForm.invalid || nothingChanged">{{
                user().id === 0 ? 'Přidat' : 'Upravit' }}</button>
            } @else {
            <button class="btn submit loading w-100" type="button">
                <span class="spinner-border spinner-border-sm text-white me-1" aria-hidden="true"></span>
                {{ actionText() }}
            </button>
            }
        </div> 
    </div>-->
    </form>
</p-dialog>