p-dialog {
    .p-dialog-mask {
        .p-dialog.p-component {
            .p-dialog-header {
                .p-dialog-header-actions {
                    .p-dialog-close-button {
                        display: none !important;
                    }
                }
            }
        }
    }
}

form {
    border: 2px solid #24355A;
    padding: 10px;
    width: 100%;
    border-radius: 10px;

    .submit,
    .delete {
        color: #fff;
        height: 40px;
        position: relative;
    }

    .submit {
        background: #24355A;
        border: 2px solid #24355A;
        outline: 10px solid #fff;
        width: calc(50% - 30px);
        margin: 0 20px -20px 0;
        float: right;
        font-weight: 800;
        font-size: 0.7em;
        letter-spacing: 1.8pt;
        text-transform: uppercase;
        cursor: pointer;
        top: -10px;
        left: 0px;
        opacity: 1;
        margin-bottom: 1px;
    }

    .submit:disabled {
        background: #1e81b0;
        border: 2px solid #1e81b0;
    }

    .delete {
        background: #F53B57;
        font-weight: bold;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        border: none;
        outline: none;
        top: 15px;
        left: -15px;
        outline: 5px solid #fff;

        .bi {
            font-size: 1rem;
            transition: 0.3s;
        }
    }

    .delete:hover {
        background: #e60b2c;
        border-color: #e60b2c;

        .bi {
            transform: scale(0.8);
        }
    }

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 30px;
        margin-bottom: 10px;
        margin-top: 10px;
        justify-content: center;
        width: 100%;
    }
}

#focus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #F53B57;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    float: right;
    top: 35px;
    right: 15px;
    background: #F53B57;
    color: white;
    outline: 5px solid #fff;
    cursor: pointer;
    transition: 0.3s;

    .bi {
        font-size: 2rem;
        transition: 0.3s;
    }
}

#focus:hover {
    background: #e60b2c;
    border-color: #e60b2c;

    .bi {
        transform: scale(0.6);
    }
}

h1 {
    font-size: 1rem;
    color: #24355A;
    font-weight: bold;
}