<div class="menu">
    <ul>
        <li hide class="save" [class.disabled]="store.uniqueUsers().length === 0">
            <a (click)="store.addShift()">
                <i class="bi bi-plus"></i>
            </a>
        </li>

        <li hideAdmin [class.disabled]="(store.isPastCard() === true)">
            <a (click)="store.addShift()">
                <i class="bi bi-plus"></i>
            </a>
        </li>

        <li #toggleBtn>
            <a (click)="onToggleCalendar($event)">
                <i class="bi bi-calendar"></i>
            </a>
        </li>

        <li [class.disabled]="store.uniqueUsers().length === 0">
            <a (click)="openModal()">
                <i class="bi bi-people"></i>
            </a>
        </li>

        <li>
            <a (click)="store.getCards()">
                <i class="bi bi-arrow-clockwise"></i>
            </a>
        </li>

        <li hide [class.inactive]="store.destination() !== 'F-M'">
            <a (click)="changeDestination('F-M')">
                <p>F-M</p>
            </a>
        </li>

        <li hide [class.inactive]="store.destination() !== 'OVA'">
            <a (click)="changeDestination('OVA')">
                <p>OVA</p>
            </a>
        </li>

        <li hide [class.disabled]="store.pdfCards().length === 0">
            <a (click)="store.allToPdf()">
                @if (!store.isPdfLoading()) {
                <i class="bi bi-filetype-pdf"></i>
                } @else {
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
            </a>
        </li>
    </ul>
</div>