<div class="menu" [class]="{'open': !-shiftFormVisible()}" [style.--nav-width]="shiftFormVisible() ? '90px' : ''"
    [style.--delay]="shiftFormVisible() ? '0.6s' : ''">
    <button class="action_btn" (click)="onOpen()">
        <img src="spinner.png" alt="navigace" width="70" height="70" />
    </button>

    <div class="proposal-calendar">
        <p-datepicker #calendar name="deadline" [(ngModel)]="defaultDate" view="month" dateFormat="mm-yy"
            [readonlyInput]="true" [maxDate]="maxDate" (onSelect)="onSelectMonth()" />
    </div>

    <ul>
        <li hide style="--i: 1; --x: -33; --y: -75;" class="first" (click)="toggleCalendar()"
            [class.disabled]="shiftsComponent.cards().length === 0">
            <a [style.--background]="'#24355A'" [style.--color]="'#fff'">
                <i class="bi bi-calendar"></i>
                <p>{{ calendarText() }}</p>
            </a>
        </li>

        <li hideAdmin style="--i: 1; --x: -33; --y: -75;" class="first" (click)="toggleCalendar()"
            [class.disabled]="shiftsComponent.cards().length === 0">
            <a [style.--background]="'#24355A'" [style.--color]="'#fff'">
                <i class="bi bi-calendar"></i>
                <p>{{ calendarText() }}</p>
            </a>
        </li>

        <li hideAdmin style="--i: 2; --x: 42; --y: -70;" (click)="shiftsComponent.openModal()"
            [class.disabled]="shiftsComponent.cards().length === 0">
            <a [style.--background]="'#24355A'" [style.--color]="'#fff'">
                <i class="bi bi-people"></i>
            </a>
        </li>

        <li hide style="--i: 2; --x: 35; --y: -75;" (click)="shiftsComponent.openModal()"
            [class.disabled]="shiftsComponent.cards().length === 0">
            <a [style.--background]="'#24355A'" [style.--color]="'#fff'">
                <i class="bi bi-people"></i>
            </a>
        </li>

        <li style="--i: 3; --x: 75; --y: 0;" (click)="shiftsComponent.onReset()"
            [class.disabled]="shiftsComponent.cards().length === 0">
            <a [style.--background]="'#24355A'" [style.--color]="'#fff'">
                <i class="bi bi-arrow-clockwise"></i>
            </a>
        </li>

        <li hide style="--i: 4; --x: 33; --y: 75;" (click)="shiftsComponent.onSelectDestination('F-M')">
            <a [style.--background]="destination() === 'F-M' ? '#24355A' : '#1e81b0'" [style.--color]="'#fff'">
                <p>F-M</p>
            </a>
        </li>

        <li hide style="--i: 5;--x: -33; --y: 75;" (click)="shiftsComponent.onSelectDestination('OVA')">
            <a [style.--background]="destination() === 'OVA' ? '#24355A' : '#1e81b0'" [style.--color]="'#fff'">
                <p>OVA</p>
            </a>
        </li>

        <li hide style="--i: 6; --x: -75; --y: 0;" (click)="shiftsComponent.onAllToPdf()"
            [class.disabled]="shiftsComponent.cards().length === 0">
            <a [style.--background]="'#24355A'" [style.--color]="'#fff'">
                @if (!pdfOn()) {
                <i class="bi bi-filetype-pdf"></i>
                } @else {
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
            </a>
        </li>
    </ul>
</div>