<div class="menu">
    <ul>
        <li hide class="first" (click)="plansComponent.toggleCalendar()">
            <a [style.--background]="'#864912'">
                <i class="bi bi-calendar"></i>
            </a>
        </li>

        @if ((currentCard()?.inactiveUsers?.length ?? 0) > 0) {
        <li (click)="openModal()">
            <a [style.--background]="'#864912'">
                <i class="bi bi-people"></i>
            </a>
        </li>
        }

        <li hide (click)="onChangeDestination('F-M')">
            <a [style.--background]="destination() === 'F-M' ? '#864912' : '#f7d3af'">
                <p>F-M</p>
            </a>
        </li>

        <li hide (click)="onChangeDestination('OVA')">
            <a [style.--background]="destination() === 'OVA' ? '#864912' : '#f7d3af'">
                <p>OVA</p>
            </a>
        </li>

        <li hide (click)="plansComponent.onReset()">
            <a [style.--background]="'#864912'">
                <i class="bi bi-arrow-clockwise"></i>
            </a>
        </li>

        <li hide (click)="plansComponent.onOpenPDF()" [class.disabled]="currentCard()?.users?.length === 0">
            <a [style.--background]="'#864912'">
                @if (!pdfLoading()) {
                <i class="bi bi-filetype-pdf"></i>
                } @else {
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
            </a>
        </li>

        <li hide (click)="plansComponent.onDelete()" [class.disabled]="currentCard()?.users?.length === 0">
            <a [style.--background]="'#fc0202'">
                <i class="bi bi-trash"></i>
            </a>
        </li>

        <li hide (click)="plansComponent.onSave()" [class.disabled]="plansComponent.nothingChanched()">
            <a [style.--background]="'#05C46B'">
                @if (!isSaving()) {
                <i class="bi bi-floppy"></i>
                } @else {
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
            </a>
        </li>

        <li hideAdmin (click)="plansComponent.onReset()">
            <a [style.--background]="'#864912'">
                <i class="bi bi-arrow-clockwise"></i>
            </a>
        </li>

        <li hideAdmin (click)="plansComponent.onSave()" [class.disabled]="plansComponent.nothingChanched()">
            <a [style.--background]="'#05C46B'">
                @if (!isSaving()) {
                <i class="bi bi-floppy"></i>
                } @else {
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
            </a>
        </li>
    </ul>
</div>