<div class="menu" [class]="{'open': isOpened()}" [style.--nav-width]="!isOpened() ? '90px' : ''"
    [style.--delay]="isOpened() ? '' : '0.6s'">
    <button class="action_btn" (click)="onOpen()">
        <img src="spinner.png" alt="navigace" width="70" height="70" />
    </button>

    <ul>
        <li hide style="--i: 1; --x: -33; --y: -80;" class="first" (click)="plansComponent.toggleCalendar()"
            [class.disabled]="users().length === 0">
            <a [style.--background]="'#24355A'" [style.--color]="'#fff'">
                <i class="bi bi-calendar"></i>
                <p>{{ calendarTitle() }}</p>
            </a>
        </li>

        <li hide style="--i: 2; --x: 33; --y: -80;" (click)="plansComponent.onChangeDestination('F-M')">
            <a [style.--background]="destination() === 'F-M' ? '#24355A' : '#1e81b0'" [style.--color]="'#fff'">
                <p>F-M</p>
            </a>
        </li>

        <li hideAdmin style="--i: 1; --x: -33; --y: -80;" (click)="plansComponent.onReset()"
            [class.disabled]="users().length === 0">
            <a [style.--background]="'#24355A'" [style.--color]="'#fff'">
                <i class="bi bi-arrow-clockwise"></i>
            </a>
        </li>

        <li hideAdmin style="--i: 2; --x: 33; --y: -80;" (click)="plansComponent.onSave()"
            [class.disabled]="plansComponent.nothingChanched()">
            <a [style.--background]="'#05C46B'" [style.--color]="'#fff'">
                <i class="bi bi-floppy"></i>
            </a>
        </li>

        <li hide style="--i: 3;--x: 80; --y: -30;" (click)="plansComponent.onChangeDestination('OVA')">
            <a [style.--background]="destination() === 'OVA' ? '#24355A' : '#1e81b0'" [style.--color]="'#fff'">
                <p>OVA</p>
            </a>
        </li>

        <li hide style="--i: 4;--x: 80; --y: 33;" (click)="plansComponent.onReset()"
            [class.disabled]="users().length === 0">
            <a [style.--background]="'#24355A'" [style.--color]="'#fff'">
                <i class="bi bi-arrow-clockwise"></i>
            </a>
        </li>

        <li hide style="--i: 5; --x: 33; --y: 80;" (click)="plansComponent.onSave()"
            [class.disabled]="plansComponent.nothingChanched()">
            <a [style.--background]="'#05C46B'" [style.--color]="'#fff'">
                @if (!isSaving()) {
                <i class="bi bi-floppy"></i>
                } @else {
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
            </a>
        </li>

        <li hide style="--i: 6; --x: -33; --y: 80;" (click)="plansComponent.onDelete()"
            [class.disabled]="plansComponent.proposalCard().id === 0">
            <a [style.--background]="'#F53B57'" [style.--color]="'#fff'">
                <i class="bi bi-trash"></i>
            </a>
        </li>

        <li hide style="--i: 7; --x: -80; --y: 35;" [class.disabled]="plansComponent.proposalCard().id === 0"
            (click)="plansComponent.onOpenPDF()">
            <a [style.--background]="'#24355A'" [style.--color]="'#fff'">
                @if (!pdfLoading()) {
                <i class="bi bi-filetype-pdf"></i>
                } @else {
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
            </a>
        </li>
    </ul>
</div>