<div class="menu" [style.--height]="loggedUser.role === 'Master' ? '105px' : ''">
    <ul>
        <li hide style="--x: 0; --y: -150;;" class="first" (click)="plansComponent.toggleCalendar()"
            [class.disabled]="users().length === 0">
            <a [style.--background]="'#24355A'" [style.--color]="'#fff'">
                <i class="bi bi-calendar"></i>
                <p>{{ calendarTitle() }}</p>
            </a>
        </li>

        <li hide style="--x: 0; --y: -100;" (click)="plansComponent.onChangeDestination('F-M')">
            <a [style.--background]="destination() === 'F-M' ? '#24355A' : '#1e81b0'" [style.--color]="'#fff'">
                <p>F-M</p>
            </a>
        </li>

        <li hide style="--x: 0; --y: -50;" (click)="plansComponent.onChangeDestination('OVA')">
            <a [style.--background]="destination() === 'OVA' ? '#24355A' : '#1e81b0'" [style.--color]="'#fff'">
                <p>OVA</p>
            </a>
        </li>

        <li hide style="--x: 0; --y: 0;" (click)="plansComponent.onReset()" [class.disabled]="users().length === 0">
            <a [style.--background]="'#24355A'" [style.--color]="'#fff'">
                <i class="bi bi-arrow-clockwise"></i>
            </a>
        </li>

        <li hide style="--x: 0; --y: 50;" (click)="plansComponent.onSave()"
            [class.disabled]="plansComponent.nothingChanched()">
            <a [style.--background]="'#05C46B'" [style.--color]="'#fff'">
                @if (!isSaving()) {
                <i class="bi bi-floppy"></i>
                } @else {
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
            </a>
        </li>

        <li hide style="--x: 0; --y: 100;" (click)="plansComponent.onDelete()"
            [class.disabled]="plansComponent.proposalCard().id === 0">
            <a [style.--background]="'#F53B57'" [style.--color]="'#fff'">
                <i class="bi bi-trash"></i>
            </a>
        </li>

        <li hide style="--x: 0; --y: 150;" [class.disabled]="plansComponent.proposalCard().id === 0"
            (click)="plansComponent.onOpenPDF()">
            <a [style.--background]="'#24355A'" [style.--color]="'#fff'">
                @if (!pdfLoading()) {
                <i class="bi bi-filetype-pdf"></i>
                } @else {
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
            </a>
        </li>

        <li hideAdmin style="--x: 0; --y: 25;" (click)="plansComponent.onReset()"
            [class.disabled]="users().length === 0">
            <a [style.--background]="'#24355A'" [style.--color]="'#fff'">
                <i class="bi bi-arrow-clockwise"></i>
            </a>
        </li>

        <li hideAdmin style="--x: 0; --y: -25;" (click)="plansComponent.onSave()"
            [class.disabled]="plansComponent.nothingChanched()">
            <a [style.--background]="'#05C46B'" [style.--color]="'#fff'">
                <i class="bi bi-floppy"></i>
            </a>
        </li>
    </ul>
</div>