<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="main">
            <img src="/pizza.ico" alt="Pizza icon" width="35" height="35">
            PEPE PIZZA
        </a>
        <div class="dropdown" (clickOutside)="close()">
            @if(notifications().length > 0) {
            <div class="bellnoti" (click)="onOpenNotifications()">
                <div class="bell">
                    <i class="bi bi-bell"></i>
                </div>
                <div class="noti">{{ notifications().length }}</div>
            </div>
            }

            @let user = authStore.user();
            <button id="toggle-btn" class="btn btn-secondary dropdown-toggle px-5" type="button" (click)="toggle()">
                {{user?.name }}
            </button>
            @if (isShown()) {
            <ul class="dropdown-menu text-center" animate.enter="enter-animation">
                <li hide><a class="dropdown-item" (click)="navigate('/users')">Uživatelé</a></li>
                <li><a class="dropdown-item" (click)="navigate('/plans')">Rozpis směn</a></li>
                <li><a class="dropdown-item" (click)="navigate('/shifts')">Směny</a></li>
                <li><a class="dropdown-item" (click)="navigate('/warehouse')">Sklad</a></li>
                <li><a class="dropdown-item" (click)="onLogout()">Odhlásit se</a></li>
            </ul>
            }
        </div>
    </div>
</nav>