<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <ul>
    @if (user()?.role === "Admin") {
      <li>
        <a routerLink="/users" routerLinkActive="active">Uživatelé</a>
      </li>
    }

    <li>
      <a routerLink="/plans" routerLinkActive="active">Rozpis směn</a>
    </li>
    <li>
      <a
        routerLink="/shifts"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: user()?.role === 'Admin' ? true : false,
        }"
        >Směny</a
      >
    </li>
  </ul>

  <a routerLink="main">
    <img src="/pizza.ico" alt="Pizza icon" width="35" height="35" />
  </a>
  <ul>
    <li>
      <a routerLink="/warehouse" routerLinkActive="active">Sklad</a>
    </li>

    @if (user()?.role === "Admin") {
      <li>
        <a
          routerLink="/shifts/daily"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Dnes</a
        >
      </li>
    }

    <li><a (click)="onLogout()">Odhlásit</a></li>
  </ul>

  <div class="mobile" (click)="toggle()">
    <img src="/pizza.ico" alt="Pizza icon" width="35" height="35" />
  </div>

  @if (isShown()) {
    <ul class="dropdown-menu text-center" animate.enter="enter-animation">
      <li
        routerLink="/main"
        routerLinkActive="active"
        (click)="isShown.update((isShown) => false);"
      >
        <a class="dropdown-item">Domů</a>
      </li>
      @if (user()?.role === "Admin") {
        <li
          routerLink="/users"
          routerLinkActive="active"
          (click)="isShown.update((isShown) => false);"
        >
          <a class="dropdown-item">Uživatelé</a>
        </li>
      }
      <li
        routerLink="/plans"
        routerLinkActive="active"
        (click)="isShown.update((isShown) => false);"
      >
        <a class="dropdown-item">Rozpis směn</a>
      </li>
      <li
        routerLink="/shifts"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="isShown.update((isShown) => false);"
      >
        <a class="dropdown-item">Směny</a>
      </li>
      <li
        routerLink="/shifts/daily"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="isShown.update((isShown) => false);"
      >
        <a class="dropdown-item">Dnes</a>
      </li>
      <li
        routerLink="/warehouse"
        routerLinkActive="active"
        (click)="isShown.update((isShown) => false);"
      >
        <a class="dropdown-item">Sklad</a>
      </li>
      <li><a class="dropdown-item" (click)="onLogout()">Odhlásit se</a></li>
    </ul>
  }

  @if (notifications().length > 0) {
    <div class="bellnoti" (click)="onOpenNotifications()">
      <div class="bell">
        <i class="bi bi-bell"></i>
      </div>
      <div class="noti">{{ notifications().length }}</div>
    </div>
  }
</nav>
