.navbar {
  height: 65px;
  padding: 10px 60px;
  background: var(--white) !important;
  border-bottom: 1px solid var(--main-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  position: fixed !important;
  width: 90%;
  z-index: 999;
  top: 0;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

    img {
      margin: 0;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      border-radius: 7px;
      transition: 0.3s;
    }

    li a {
      font-weight: 700;
      font-size: 1.05rem;
      width: 110px;
      text-align: center;
      text-decoration: none;
      color: var(--main-dark);
    }

    li a.active {
      color: var(--proposal-orange);
      text-shadow: 0 0 10px var(--proposal-orange);
    }

    li.name a.user {
      width: auto !important;
      cursor: default;
      pointer-events: none;
      color: var(--main-dark);
    }

    li.name:hover {
      cursor: default;
      box-shadow: none;
    }
  }

  .bellnoti {
    position: absolute;
    right: 0;

    .bell,
    .noti {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .bell {
      width: 30px;
      height: 30px;
      margin-right: 2rem;
      margin-top: 5px;

      .bi {
        font-size: 1.3rem;
        color: var(--main-dark);
      }
    }

    .noti {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid var(--main-red);
      background: var(--main-red);
      color: var(--white);
      top: 0px;
      left: 15px;
      font-size: 10px;
      padding: 3px;
      font-weight: 500;
    }
  }

  .bellnoti:hover {
    cursor: pointer;
  }

  .mobile {
    display: none;
  }

  .dropdown-menu {
    background: var(--white);
    position: absolute;
    top: 75px;
    right: 0;
    flex-direction: column;
    justify-content: center;
    min-width: 195px;
    height: 250px;
    border: 1px solid var(--main-border-color);
    margin: 0;
    padding: 5px;
    list-style-type: none;
    transition: 0.3s ease-in-out;

    .dropdown-item {
      font-weight: 500;
      color: var(--main-dark);
      width: 100% !important;
      padding: 0 2px;
      font-size: 15px;
      background: none;
    }

    li.active .dropdown-item {
      color: var(--proposal-orange);
      text-shadow: 0 0 10px var(--proposal-orange);
    }

    .dropdown-item:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 995px) {
  .navbar {
    gap: 0;
    padding: 10px 0px;
    ul {
      gap: 0.8rem;
      li a {
        font-size: 0.9rem;
        width: 90px;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .navbar {
    background: transparent !important;
    backdrop-filter: blur(15px);
    width: 100%;
    ul,
    a {
      display: none;
    }

    ul.dropdown-menu {
      display: flex !important;
      right: 10px;
      top: 15px;

      li a {
        display: flex !important;
      }
    }
  }

  .mobile {
    display: inline !important;
    position: absolute;
    left: 10px;
  }
}
