.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: var(--height, 40px);
    width: var(--width, 40px);
    cursor: pointer;
    position: relative;
    padding: 1rem 1.1rem;
    background: #eeeeee;
    border-radius: 50%;
    box-shadow: 0 0.3rem 0.75rem #e1e5e5;
    text-align: center;
    color: #fff;
    margin-bottom: var(--bottom, 15px);
    opacity: 0;
}

.notification.error {
    opacity: 1;
    background: #e60b2c;
    // box-shadow: 0 0.3rem 0.75rem #e60b2c;
}

.bi {
    font-size: var(--ringSize, 1.5rem);
}


.notify {
    transform-origin: 50% 4px;
    // background: #e60b2c;
    animation: ring 1.5s ease;
}

@keyframes ring {
    0% {
        transform: rotate(35deg);
    }

    12.5% {
        transform: rotate(-30deg);
    }

    25% {
        transform: rotate(25deg);
    }

    37.5% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(15deg);
    }

    62.5% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}