:host-context(cdk-dialog-container) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    filter: drop-shadow(0 0 2em rgba(#000, 0.5));
    padding: 2em 2em 2em;
    border-radius: 7px;
}

form {
    border: 1px solid var(--main-border-color);

    .row {
        width: 100;
        margin-bottom: 10px;

        .col-4 {
            .avatar {
                border: 1px solid var(--main-border-color);
                height: 140px;
                width: 140px;
                padding: 5px;
                cursor: pointer;

                img {
                    width: 130px;
                    height: 130px;
                    object-fit: cover;
                }

                img.blank {
                    width: 100px;
                    height: 100px;
                }

                .remove-btn {
                    bottom: -5px;
                    right: -5px;
                    background: var(--main-dark);
                    border: none;
                    outline: none;
                    width: 24px;
                    height: 24px;
                    font-size: 16px;
                    cursor: pointer;
                    line-height: 1;
                }

                .remove-btn:hover {
                    background: var(--main-disabled);
                    color: var(--main-dark);
                }

                .nofocus-btn {
                    pointer-events: none;
                    bottom: -5px;
                    right: -5px;
                    border: none;
                }
            }

            label {
                color: var(--main-dark);
                letter-spacing: 1px;
            }
        }

        .col-8 {
            .card {
                --bs-card-border-color: none !important;
            }
        }

        .col-6 {
            p-fieldset {
                height: 100px;
                color: var(--main-dark) !important;
            }
        }

        .col-8.buttons {

            .cancel,
            .delete {
                height: 35px;
                font-weight: bold;
                font-size: 13px;
                width: 120px;
                letter-spacing: 1px;
                border-radius: 7px;

                .bi {
                    font-size: 1.2rem;
                }
            }

            .cancel {
                border: 1px solid var(--main-back);
                background: var(--main-back);
            }

            .delete {
                border: 1px solid var(--main-red);
                background: var(--main-red);
            }

            .submit {
                background: var(--main-dark);
                border: 1px solid var(--main-dark);
                opacity: 1;
                height: 35px;
                font-size: 13px;
                width: 120px;
                letter-spacing: 1px;
                border-radius: 7px;

                .bi {
                    font-size: 1.2rem;
                }
            }

            .submit:disabled {
                pointer-events: none;
                background: var(--main-disabled);
                border: 1px solid var(--main-disabled);
            }
        }
    }

    .btn-group {
        width: 100%;
        height: 35px;

        label {
            border: 1px solid var(--main-dark);
            color: var(--main-dark);
            box-shadow: none !important;
            font-size: 13px;
            width: 33%;
        }

        label.left-radius {
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
        }

        label.right-radius {
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
        }

        .btn-check:checked+.btn {
            background: var(--main-dark);
            color: var(--white);
            border: 2px solid var(--main-dark) !important;
            outline-color: var(--main-dark) !important;
            font-weight: bold;
        }

        .btn.disabled {
            opacity: 1;
        }
    }
}