<form autocomplete="no">
    <div class="row">
        <div class="col-4">
            <div class="avatar" (click)="selectImage()">
                @if (displayedImageSrc()) {
                <img [src]="displayedImageSrc()" alt="Selected" />
                <button class="remove-btn" type="button" (click)="removeImage($event)">
                    &times;
                </button>
                } @else {
                <img class="blank" src="person.png" alt="No image" />
                <button class="nofocus-btn" type="button"></button>
                }
            </div>
            <input #imagePicker type="file" style="display: none;" (change)="onFileSelected($event)" accept="image/*" />
        </div>
        <div class="col-8">
            <div class="card flex justify-end">
                <div class="row mt-3">
                    <div class="col-6">
                        @let nameError = getError(form.name());
                        <input type="text" id="userName" [field]="form.name" placeholder="Jméno" autocomplete="no"
                            (keydown.enter)="onSubmit()">
                        <div class="blockError">
                            @if(nameError) {
                            <div class="error" [style.display]="'block'">
                                {{ nameError }}</div>
                            }
                        </div>
                    </div>
                    <div class="col-6">
                        @let surnameError = getError(form.surname());
                        <input type="text" id="userSurname" [field]="form.surname" placeholder="Příjmení"
                            autocomplete="no" (keydown.enter)="onSubmit()">
                        <div class="blockError">
                            @if(surnameError) {
                            <div class="error" [style.display]="'block'">
                                {{ surnameError }}</div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        @let emailError = getError(form.email());
                        <input type="text" placeholder="Email" autocomplete="no" id="email" [field]="form.email"
                            (keydown.enter)="onSubmit()">
                        <div class="blockError">
                            @if(emailError) {
                            <div class="error" [style.display]="'block'">
                                {{ emailError }}</div>
                            }
                        </div>
                    </div>
                    <div class="col-6">
                        @let passwordError = getError(form.password());
                        <input type="password" placeholder="Heslo" autocomplete="no" [field]="form.password"
                            (keydown.enter)="onSubmit()">
                        <div class="blockError">
                            @if(passwordError) {
                            <div class="error" [style.display]="'block'">
                                {{ passwordError }}</div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-10 offset-1">
                        <div class="btn-group selectors" role="group">
                            <input type="radio" class="btn-check" id="btnrole1" [field]="form.role" value="Admin">
                            <label class="btn btn-outline-primary no-border-radius" for="btnrole1"
                                [class.disabled]="form.role().disabled()">Admin</label>

                            <input type="radio" class="btn-check" id="btnrole2" [field]="form.role" value="Master">
                            <label class="btn btn-outline-primary center-one" for="btnrole2"
                                [class.disabled]="form.role().disabled()">Master</label>

                            <input type="radio" class="btn-check" id="btnrole3" [field]="form.role" value="User">
                            <label class="btn btn-outline-primary no-border-radius" for="btnrole3"
                                [class.disabled]="form.role().disabled()">User</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <p-fieldset legend="F-M">
                <div class="options">
                    <div class="flex items-center">
                        <p-checkbox binary="true" [field]="form.destinations.fmPizza" />
                        <label class="ml-2">Pizzař</label>
                    </div>
                    <div class="flex items-center">
                        <p-checkbox binary="true" [field]="form.destinations.fmCook" />
                        <label class="ml-2">Kuchař</label>
                    </div>
                    <div class="flex items-center">
                        <p-checkbox binary="true" [field]="form.destinations.fmDriver" />
                        <label class="ml-2">Řidič</label>
                    </div>
                    <div class="flex items-center">
                        <p-checkbox binary="true" [field]="form.destinations.fmHelper" />
                        <label class="ml-2">Pomocka</label>
                    </div>
                </div>
            </p-fieldset>
        </div>
        <div class="col-6">
            <p-fieldset legend="OVA">
                <div class="options">
                    <div class="flex items-center">
                        <p-checkbox binary="true" [field]="form.destinations.ovaPizza" />
                        <label class="ml-2">Pizzař</label>
                    </div>
                    <div class="flex items-center">
                        <p-checkbox binary="true" [field]="form.destinations.ovaCook" />
                        <label class="ml-2">Kuchař</label>
                    </div>
                    <div class="flex items-center">
                        <p-checkbox binary="true" [field]="form.destinations.ovaDriver" />
                        <label class="ml-2">Řidič</label>
                    </div>
                    <div class="flex items-center">
                        <p-checkbox binary="true" [field]="form.destinations.ovaHelper" />
                        <label class="ml-2">Pomocka</label>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4 offset-4 isActive">
            <p-checkbox binary="true" [field]="form.isActive" />
            <label class="ml-2"> Aktivní </label>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-8 offset-2 buttons">
            <button class="cancel" (click)="onGoBack()" type="button"><i
                    class="bi bi-caret-left"></i>&nbsp;Zpět</button>
            @if (user()!.id > 1) {
            <button class="delete" (click)="onDelete()" type="button" [disabled]="usersStore.isDeleting()">
                @if (!usersStore.isDeleting()) {
                <i class="bi bi-trash"></i>&nbsp;Smazat
                } @else {
                <span class="spinner-border spinner-border-sm text-white me-1" aria-hidden="true"></span>
                Odtraňuji
                }
            </button>
            }
            @if (!usersStore.isSaving()) {
            <button type="button" class="submit" (click)="onSubmit()" [disabled]="form().invalid() || isUnchanged()"><i
                    class="bi bi-plus"></i> {{
                user()?.id === 0 ? 'Přidat' : 'Upravit' }}</button>
            } @else {
            <button class="submit loading" type="button">
                <span class="spinner-border spinner-border-sm text-white me-1" aria-hidden="true"></span>
                {{ user()?.id === 0 ? 'Přidávám ...' : 'Upravuji ...' }}
            </button>
            }
        </div>
    </div>
</form>