<div class="box w-100 d-flex flex-row justify-content-center align-items-center position-relative"
    animate.enter="fade-in" animate.leave="fade-out">
    @if(!shiftsStore.isLoading()) {

    @if (shiftsStore.uniqueUsers().length > 0) {
    <div class="shift-card d-flex flex-column justify-content-center align-items-center">
        <swiper-container #swiperRef effect="cards" grab-cursor="false" (swiperinit)="onSwiperInit()"
            (swiperslidechange)="onSlideChange($event)">
            @for(user of shiftsStore.uniqueUsers(); track $index) {
            <swiper-slide>
                <app-shift-card />
            </swiper-slide>
            }
        </swiper-container>
    </div>
    <app-paging>
        <app-prev-next-button icon="bi-caret-left" [disabled]="shiftsStore.sliceIndex() === 0"
            (click)="movePrevious()" />
        <app-destination-button [destination]="shiftsStore.destination()" />
        <app-prev-next-button icon="bi-caret-right"
            [disabled]="shiftsStore.sliceIndex() === shiftsStore.uniqueUsers().length - 1" (click)="moveNext()" />
    </app-paging>
    <app-shift-header />
    } @else {
    <h4 class="fw-bold text-center">{{ shiftsStore.missingCardsMessage() }}</h4>
    }
    } @else {
    <app-shift-skeleton />
    }
</div>