.shift-assignment-container {
    height: 100%;
    display: grid;
    flex-direction: column;
    justify-content: center !important;
    width: calc(100vw - 10rem) !important;
    margin-top: 2rem;

    h4 {
        font-weight: bold;
        color: #24355A;
        margin-top: 30%;
    }

    .wrapper {
        grid-column: 1;
        grid-row: 1;
        margin-top: 110px;
    }
}

.shift-block {
    border-radius: 4px;
    text-align: center;
    grid-area: 1 / 1;
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.shift-block.whole {
    background-color: #009900;
    color: #fff;
}

.shift-block.dest {
    background-color: #000;
    color: #fff;
    padding: 2px;
    font-size: 0.6rem;
}

.shift-block.morning {
    background-color: #FF8800;
    color: #fff;
    font-size: 0.8rem;
}

.shift-block.afternoon {
    background-color: #CC0000;
    color: #fff;
    font-size: 0.8rem;
}

.shift-block.custom {
    background-color: #606060;
    color: #fff;
    font-size: 0.7rem;
    padding: 2px;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    min-width: var(--min-width-table);
    margin-top: var(--margin-top-table);
    margin-bottom: 20px;

    th,
    td {
        border: 1px solid #ccc;
        min-width: 35px !important;
        height: 35px !important;
        text-align: center;
        position: relative;
    }

    th {
        .head-cell {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .head-cell-date {
                font-size: 0.8rem;
            }

            .head-cell-week-day {
                font-size: 0.7rem;
            }
        }
    }

    th.user-name {
        min-width: 150px !important;
    }

    th:not(.user-name) {
        background-color: var(--background-color-head);
    }

    td .disabled {
        pointer-events: none;
        opacity: 0.6;
        background-color: #f0f0f0;
    }

    td.user-name-cell {
        background-color: var(--background-color-user)
    }

    td.drop-zone {
        background-color: var(--background-color-dropzone)
    }

    td.drop-zone.last-cook,
    td.user-name-cell.last-cook {
        border-bottom: 2px solid black;
    }
}

.drop-zone {
    width: 35px !important;
    height: 35px !important;
}

.drop-zone:not(.disabled):hover {
    cursor: pointer;
}

.assigned-shift {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}