<div class="proposals">
    @if(!proposalsLoading()) {

    @if (isUnsavedPassedCard()) {
    <h4>{{ unsavedProposalCardErrorText }}</h4>
    } @else {

    @if(planCard()?.users?.length === 0)
    {
    <h4>Chybí evidovaní pracovníci na pobočce - {{planCard()?.destination }}</h4>
    } @else {
    <div class="wrapper">
        <div class="table" proposalTableStyle [countOfDays]="planCard()!.countOfDays"
            [isUnsavedPassedCard]="isUnsavedPassedCard()">
            <div class="table-head">
                <div class="user-name">{{ planCard()?.monthYearName }}</div>
                @for(shift of planCard()!.users[0]!.shifts; track $index) {
                <th>
                    <div class="cell" [setBackground]="isWeekend(shift.proposalDate)">
                        <div class="cell-date">
                            {{ shift.proposalDate.split('.')[0] }}
                        </div>
                        <div class="cell-week-day">
                            {{ dayOfWeek(`${shift.proposalDate}`) }}
                        </div>
                    </div>
                </th>
                }
            </div>
            <div class="body" cdkDropListGroup #dashboard>
                <div cdkDropList (cdkDropListDropped)="drop($event)">
                    @for(user of planCard()?.users; track $index; let i = $index) {

                    <div class="table-row" cdkDrag [cdkDragDisabled]="loggedUser.role !== 'Admin'">
                        <div class="user-name-cell" cdkDragHandle [setBackground]="user.position === 'Cook'">
                            {{`${user.name} ${user.surname.substring(0,1)}.`}}
                        </div>

                        @for(shift of user.shifts; track $index; let j = $index) {
                        <th class="drop-zone" [setBackground]="isWeekend(shift.proposalDate)"
                            [disabledClass]="isPassedTime(shift.proposalDate)" (click)="onCreateUpdateProposal(i, j)">
                            <app-proposal-shift [shift]="shift" />
                        </th>
                        }

                        <th class="drop-zone last" (click)="remove(user, i)">
                            <i class="bi bi-x-circle"></i>
                        </th>
                    </div>
                    <div *cdkDragPlaceholder></div>

                    }
                </div>
                <div cdkDropList></div>
            </div>
        </div>
    </div>
    }
    }
    } @else {
    <app-proposal-skeleton />
    }
</div>