.proposals {
    height: 100%;
    display: grid;
    flex-direction: column;
    justify-content: center !important;
    width: calc(100vw - 10rem) !important;
    margin-top: 2rem;

    h4 {
        font-weight: bold;
        color: #864912;
        margin-top: 30%;
    }

    .wrapper {
        grid-column: 1;
        grid-row: 1;
        margin-top: 90px;

        .table {
            display: flex;
            flex-direction: column;

            .table-head {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;

                .user-name {
                    min-width: 150px !important;
                    margin-right: 10px;
                    // border: 1px solid #666;
                    // background: #666;
                    border: 1px solid #864912;
                    background: #864912;

                    color: #fff;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-weight: bold;
                }

                .cell {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // border: 1px solid #666;
                    border: 1px solid #864912;
                    padding: 0 8px;
                    border-radius: 5px;
                    background-color: var(--background-color);
                    width: 35px !important;
                    height: 35px !important;
                    color: #864912;

                    .cell-date {
                        font-size: 0.8rem;
                        text-align: center;
                    }

                    .cell-week-day {
                        font-size: 0.7rem;
                        text-align: center;
                    }
                }
            }

            .body {
                .table-row {
                    display: flex;
                    flex-direction: row;
                    margin: 5px 0;

                    .user-name-cell {
                        height: 35px;
                        width: 150px !important;
                        background-color: var(--background-color);
                        // border: 1px solid #666;
                        border: 1px solid #864912;
                        border-radius: 5px;
                        margin-right: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        color: #864912;
                    }

                    .drop-zone {
                        width: 35px !important;
                        height: 35px !important;
                        // border: 1px solid #666;
                        border: 1px solid #864912;
                        padding: 0 8px;
                        border-radius: 5px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-right: 2px;
                        background-color: var(--background-color);
                    }
                }
            }
        }
    }
}