.sidenav {
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
    align-items: center !important;
    width: 10rem;
    float: left;
    margin-top: 50px;

    ul {
        margin: 2rem 0 0 0;
        padding: 0;

        .proposal-calendar {
            width: 190px;
            height: 50px;
            position: absolute;
            left: -90px;
            top: 15px;
        }
    }
}

.box {
    width: calc(100% - 10rem) !important;
    float: right;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin-top: 70px;
    display: grid;

    .shift-card {
        grid-column: 1;
        grid-row: 1;
        min-width: 750px;
        margin: 1.5rem 0 0 0;
        height: 790px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        swiper-container {
            width: 740px;
            height: 790px;

            swiper-slide {
                background: #fff !important;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                border-radius: 5px;
            }
        }
    }

    .skeleton {
        grid-column: 1;
        grid-row: 1;
        margin: 1.5rem 0 0 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 20px;
        min-width: 750px;
        height: 790px;

        background: linear-gradient(90deg,
                #eee 25%,
                #fff 50%,
                #eee 75%);
        background-size: 400% 100%;
        animation: shimmer 2s infinite linear;
        border-radius: 8px;

        .title {
            font-size: 1.5rem;
            font-weight: bold;
            color: #cecece;
        }
    }
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}