<div class="sidenav">
    <app-shifts-nav animate.enter="fade-in" animate.leave="fade-out" #nav />
</div>

<div class="shifts-calendar">
    <p-datepicker #calendar name="deadline" [(ngModel)]="shiftsStore.defaultDate" view="month" dateFormat="mm-yy"
        [readonlyInput]="true" [maxDate]="shiftsStore.maxDate()" (onSelect)="onSelectMonth()"
        (onClickOutside)="onCalendarClickOutside($event, nav.toggleBtn.nativeElement)" />
</div>

<div class="box">
    @if(!shiftsStore.isLoading()) {

    @if (shiftsStore.uniqueUsers().length > 0) {
    <div class="shift-card" animate.enter="fade-in">
        <swiper-container #swiperRef effect="cards" grab-cursor="false" (swiperinit)="onSwiperInit()"
            (swiperslidechange)="onSlideChange($event)">
            @for(user of shiftsStore.uniqueUsers(); track $index) {
            <swiper-slide>
                <app-shift-card />
            </swiper-slide>
            }
        </swiper-container>
    </div>
    } @else {
    <h4>{{ shiftsStore.missingCardsMessage() }}</h4>
    }
    } @else {
    <app-shift-skeleton />
    }
</div>