@let nav = store.warehouseNav();
@if (warehouseNav() === 'units' || nav === '/warehouse') {
<div class="menu" animate.enter="fade-in" animate.leave="fade-out">
    <ul>
        <li animate.enter="fade-in" animate.leave="fade-out">
            <a (click)="store.getWarehouseCards()">
                <i class="bi bi-arrow-clockwise"></i>
            </a>
        </li>

        <li hide animate.enter="fade-in" animate.leave="fade-out">
            <a (click)="warehouseComp.toggleCalendar()">
                <i class="bi bi-calendar"></i>
            </a>
        </li>

        <li hide animate.enter="fade-in" animate.leave="fade-out" [class.inactive]="store.destination() !== 'F-M'">
            <a (click)="store.setDestination('F-M')">
                <p>F-M</p>
            </a>
        </li>

        <li hide animate.enter="fade-in" animate.leave="fade-out" [class.inactive]="store.destination() !== 'OVA'">
            <a (click)="store.setDestination('OVA')">
                <p>OVA</p>
            </a>
        </li>

        <li hide animate.enter="fade-in" animate.leave="fade-out" [class.disabled]="store.cards().length === 0">
            <a (click)="warehouseComp.onOpenPDF()">
                @if (!pdfLoading()) {
                <i class="bi bi-filetype-pdf"></i>
                } @else {
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
            </a>
        </li>

        <li hide animate.enter="fade-in" animate.leave="fade-out" [class.disabled]="store.cards().length === 0">
            <a (click)="onDeleteCards()">
                <i class="bi bi-trash"></i>
            </a>
        </li>

        @if (warehouseNav() !== 'board') {
        <li hide>
            <a (click)="onShowList()">
                <i class="bi bi-list-check"></i>
            </a>
        </li>

        <li hideAdmin>
            <a (click)="onShowList()">
                <i class="bi bi-list-ul"></i>
            </a>
        </li>
        }

        <li [class.disabled]="store.cards().length === 0">
            <a (click)="onShowUnits()">
                <i class="bi bi-table"></i>
            </a>
        </li>

        <li hide>
            <a (click)="onShowItems()">
                <i class="bi bi-list-ul"></i>
            </a>
        </li>

        <li [class.disabled]="warehouseNav() === 'board'">
            <a (click)="onShowBoard()">
                <i class="bi bi-house"></i>
            </a>
        </li>
    </ul>
</div>
}

@if (warehouseNav() === 'items') {
<div class="menu" animate.enter="fade-in" animate.leave="fade-out">
    <ul>
        <li animate.enter="fade-in" animate.leave="fade-out" [class.disabled]="items().length === 0">
            <a (click)="onReloadItems()">
                <i class="bi bi-arrow-clockwise"></i>
            </a>
        </li>

        <li animate.enter="fade-in" animate.leave="fade-out">
            <a (click)="onAddItem()">
                <i class="bi bi-plus"></i>
            </a>
        </li>

        <li hide [class.disabled]="store.cards().length === 0">
            <a (click)="onShowUnits()">
                <i class="bi bi-table"></i>
            </a>
        </li>

        <li hide class="disabled">
            <a>
                <i class="bi bi-list-ul"></i>
            </a>
        </li>

        <li>
            <a (click)="onShowBoard()">
                <i class="bi bi-house"></i>
            </a>
        </li>
    </ul>
</div>
}