<p-dialog [modal]="true" [visible]="masterAddVisible()" [style]="{ width: '35rem' }">
    <div class="wrapper">
        <div id="focus" (click)="onClose()"><i class="bi bi-x"></i></div>
        <form autocomplete="off" id="form" [formGroup]="warehouseForm">
            <div formArrayName="items">
                @for(item of items.controls; track item; let i = $index) {
                <div [formGroupName]="i" class="row">
                    <div class="item-label">
                        <p>{{ warehouseItems[i].name }}</p>
                    </div>
                    <div class="item-input">
                        <input type="hidden" formControlName="warehouseItemId" />
                        <input type="text" formControlName="amount"
                            [class.invalid]="item.get('amount')?.hasError('pattern')" />
                    </div>
                </div>
                }
            </div>
            <div class="close">
                @if (!isLoading()) {
                <button class="closeBtn" type="submit" [disabled]="warehouseForm.invalid"
                    (click)="onSave()">Uložit</button>
                } @else {
                <button class="closeBtn no-actions" type="button">
                    <span class="spinner-border spinner-border-sm text-white me-1" aria-hidden="true"></span>
                    Ukládám
                </button>
                }

            </div>
        </form>
    </div>
</p-dialog>