p-dialog {
    .p-dialog-mask {
        .p-dialog.p-component {
            .p-dialog-header {
                .p-dialog-header-actions {
                    .p-dialog-close-button {
                        display: none !important;
                    }
                }
            }
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        #focus {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid #F53B57;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            position: absolute;
            top: 10px;
            right: 20px;
            background: #F53B57;
            color: white;
            outline: 5px solid #fff;
            cursor: pointer;
            transition: 0.3s;

            .bi {
                font-size: 2rem;
                transition: 0.3s;
            }
        }

        #focus:hover {
            background: #e60b2c;
            border-color: #e60b2c;

            .bi {
                transform: scale(0.6);
            }
        }

        .today {
            position: absolute;
            top: 15px;
            left: 25px;
            font-weight: bold;
            color: #24355A;
        }

        form {
            width: 100%;

            .row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: 10px 0;
                border: 1px solid #24355A;
                border-radius: 5px;
                height: 35px;

                .item-label,
                .item-input {
                    display: flex;
                    justify-content: center;
                }

                .item-label {
                    display: flex;
                    flex-direction: column;
                    width: 60%;
                    height: 30px;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s;

                    p {
                        color: #24355A;
                        font-weight: 500;
                        margin-bottom: 0 !important;
                        transition: 0.3s;
                    }
                }

                .item-input {
                    display: flex;
                    flex-direction: column;
                    width: 40%;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s;
                    height: 100%;

                    input,
                    input:focus,
                    input:active {
                        width: 100px;
                        text-align: center;
                        color: #24355A;
                        border-radius: 5px;
                        font-size: 0.8rem;
                        height: 25px;
                        background: #f8f8f4;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        font-weight: 500;
                        border: 1px solid #24355A;
                    }

                    input.invalid {
                        border: 2px solid #e60b2c !important;
                        outline: none !important;
                        color: #e60b2c !important;
                        font-weight: bold !important;
                    }
                }
            }

            .close {
                margin-top: 15px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .closeBtn {
                    background: #24355A;
                    color: #fff;
                    border-radius: 5px;
                    border: 1px solid #24355A;
                    font-weight: bold;
                    height: 40px;
                    width: 100%;
                    transform: 0.3s;
                }

                .closeBtn:disabled {
                    opacity: 0.5;
                    pointer-events: none;
                }

                .closeBtn:active {
                    opacity: 0.7;
                }

                .closeBtn.no-actions {
                    pointer-events: none;
                }
            }
        }
    }
}