<div class="container" cdkDropListGroup>
    @if (!isLoading()) {
    <div class="block" @fadeIn>
        @if (items().length > 0) {
        <div #dashboard class="widget-wrapper">
            @for(item of items(); track $index) {
            <div>
                <app-widget [item]="item" [index]="$index" [(selected)]="selected" cdkDropList
                    (cdkDropListDropped)="drop($event)" [cdkDropListData]="item.position" [(isDragged)]="isDragged" />
            </div>
            }
            <div cdkDropList></div>
        </div>
        }
    </div>

    @if (items().length === 0 && !isDroppedToDelete()) {
    <div class="empty-item" @fadeIn>
        <h4>Žádné uložené položky.</h4>
    </div>
    }

    } @else {
    <div class="skeleton" @fadeOut>
        @for(i of [1,2,3]; track i) {
        <div class="empty-widget">
        </div>
        }
    </div>
    }
</div>