<div class="container drag-item" cdkDrag>
    @if (item().id > 0) {
    <p>{{item().name}}</p>
    <div class="buttons">
        <button class="settings-button" (click)="onUpdate()"><i class="bi bi-pencil-square"></i></button>
        <button class="delete-button" (click)="onDelete()"><i class="bi bi-trash"></i></button>
    </div>
    } @else {
    <app-widget-add [item]="item()" animate.enter="fast-in" animate.leave="fast-out" />
    }

    @if (updateVisible()) {
    <app-widget-update [(updateVisible)]="updateVisible" [item]="item()" animate.enter="fast-in"
        animate.leave="fast-out" />
    }
    <div *cdkDragPlaceholder></div>
</div>