<div class="container drag-item" cdkDrag (cdkDragMoved)="onDragMoved(item())" (cdkDragEnded)="onDragEnded($event)">
    @if (item().id > 0) {
    <p>{{item().name}}</p>
    <div class="buttons">
        <button class="settings-button" (click)="onUpdate()"><i class="bi bi-pencil-square"></i></button>
        <button class="delete-button" (click)="onDelete()"><i class="bi bi-trash"></i></button>
    </div>
    } @else {
    <app-widget-add [item]="item()" @fastIn @fastOut />
    }

    @if (updateVisible()) {
    <app-widget-update [(updateVisible)]="updateVisible" [item]="item()" @fastIn @fastOut />
    }
    <div *cdkDragPlaceholder></div>
</div>