.card-wrapper {
    margin: 20px;
    display: grid;

    .user-card-table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 1;
        grid-row: 1;

        .head {
            border: 2px solid #864912;
            border-radius: 5px;
            padding: 5px;
            margin-bottom: 10px;
            background: #f8f8f4;
            color: #864912;
            justify-content: space-between;
            display: flex;
            min-width: 700px;

            .right,
            .left {
                width: 20%;
            }

            .left {
                text-align: right;
            }

            .center {
                text-align: center !important;
            }
        }

        .table {
            margin-bottom: 20px;

            thead {
                --bs-table-bg: #864912 !important;
                --bs-table-border-color: none;

                tr th {
                    height: 25px !important;
                    font-size: 0.9rem;
                    padding: 0 !important;
                }
            }

            tbody {
                border-top: none;

                th,
                td {
                    font-size: 0.8rem;
                    color: #864912;
                    height: 15px !important;
                    padding: 0 !important;
                    vertical-align: middle !important;
                }

                tr {
                    margin: 10px 0 !important;
                    border-color: #864912 !important;

                    td {
                        transition: 0.2s ease-in-out;

                        .bi {
                            font-size: 12px;
                        }

                        button {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 15px;
                            border-radius: 5px;

                            i {
                                font-size: 0.5rem;
                            }
                        }
                    }

                    td.perso {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 245px;
                        text-align: center;
                    }
                }

                tr:hover td {
                    background: #f7d3af !important;
                }
            }

            tbody:hover {
                cursor: grab;
            }
        }

        h4 {
            margin-top: 60px;
            margin-bottom: 30px;
            color: #864912;
            font-weight: bold;
        }

        .action-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .deleteCardBtn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                height: 30px;
                width: 120px;
                font-size: 13px;
                background: #EF4444;
                color: #fff;
                border: none;
                transition: ease 0.3s all;
                position: absolute;
                bottom: 10px;
                left: 20px;

                i {
                    font-size: 1.3rem;
                    font-weight: bold;
                }

                .spinner-border {
                    width: 15px;
                    height: 15px;
                }
            }

            .deleteCardBtn:hover {
                box-shadow: 0 0 10px 3px #EF4444;
            }

            .pdfBtn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                height: 30px;
                width: 120px;
                background: #864912;
                color: #fff;
                border: none;
                transition: ease 0.3s all;
                position: absolute;
                bottom: 10px;
                right: 20px;
                font-size: 13px;

                i {
                    font-size: 1.1rem;
                    font-weight: bold;
                    transition: .5s ease-in-out;
                }

                .spinner-border {
                    width: 15px;
                    height: 15px;
                }
            }

            .pdfBtn:hover {
                box-shadow: 0 0 10px 3px #864912;
            }
        }
    }

    .empty-shifts {
        margin-top: 15%;
        margin-left: auto;
        margin-right: auto;
    }

    .skeleton {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        min-width: 760px;
        height: 810px;
        position: absolute;
        top: -20px;
        left: -20px;
        background: linear-gradient(90deg,
                #eee 25%,
                #fff 50%,
                #eee 75%);
        background-size: 400% 100%;
        animation: shimmer 2s infinite linear;
        border-radius: 8px;

        .title {
            font-size: 1.5rem;
            font-weight: bold;
            color: #cecece;
        }
    }
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}