<div class="card-wrapper">
    @if (!cardLoading()) {
    <div class="user-card-table" animate.enter="fade-in" animate.leave="fade-out">
        <div class="head">
            <div class="right">
                <b>{{convertMonthYear(card()!.monthYear)}}</b>
            </div>
            <div class="center">
                @let userName = card()!.userName + " " + card()!.userSurname;
                <b>{{ userName }}</b>

                @if (hasDriver()) {
                @if (firstCard() === 'Driver') {
                <img src="./dark_car.png" alt="Car" [class.onlyOne]="userCards()?.length === 1" />
                } @else {
                <img src="./colored_car.png" alt="Car" (click)="changeCard('Driver')" />
                }
                }

                @if (hasCook()) {
                @if (firstCard() === 'Cook') {
                <img src="./dark_chef.png" alt="Chef" [class.onlyOne]="userCards()?.length === 1" />
                } @else {
                <img src="./colored_chef.png" alt="Chef" (click)="changeCard('Cook')" />
                }
                }
            </div>
            <div class="left">
                <i class="bi bi-watch"></i>&nbsp;
                <b>{{card()!.totalHours ? card()!.totalHours : '00:00'}}</b>
            </div>
        </div>

        @if(card()!.shifts.length > 0) {
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th style="width: 5% !important; text-align: right; border-top-left-radius: 10px;">#</th>
                    <th style="width: 15% !important; text-align: center;">Datum</th>
                    <th style="width: 15% !important; text-align: center;">Začátek</th>
                    <th style="width: 15% !important; text-align: center;">Konec</th>
                    <th style="width: 15% !important; text-align: center;">Hodiny</th>
                    <th style="width: 40% !important; text-align: center; border-top-right-radius: 10px;">Perso</th>
                </tr>
            </thead>
            <tbody [style]="sectionStyles()">
                @for(shift of card()!.shifts; track $index) {
                <tr
                    (click)="((isPastCard() === false && loggedUser.role === 'Master') || (loggedUser.role === 'Admin')) && onUpdate(shift)">
                    <td scope="row" style="width: 5% !important; text-align: right !important; font-weight: bold;">
                        {{$index + 1}}.</td>
                    <td style="width: 15% !important; text-align: center !important;">{{shift.date}}</td>
                    <td style="width: 15% !important; text-align: center !important;">{{shift.from}}</td>
                    <td style="width: 15% !important; text-align: center !important;">{{shift.to}}</td>
                    <td style="width: 15% !important; text-align: center !important;">{{shift.hours}}</td>
                    <td class="perso" style="width: 40% !important;">{{shift.perso}}</td>
                </tr>
                }
            </tbody>
        </table>
        <div class="action-buttons">
            @if (loggedUser.role === 'Admin') {
            <button class="deleteCardBtn" (click)="onDeleteCard()"><i class="bi bi-x"></i> Smazat kartu</button>
            <button class="pdfBtn" (click)="onToPdf()">
                @if (!pdfLoading()) {
                <i class="bi bi-filetype-pdf"></i>&nbsp;Stáhnout PDF
                } @else {
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
            </button>
            }
        </div>
        }
        @if(card()!.shifts.length === 0) {
        <div class="empty-shifts">
            <h4>Žádné uložené směny.</h4>
        </div>
        <div class="action-buttons">
            @if (loggedUser.role === 'Admin' && card()!.id > 0 && card()!.shifts.length > 0) {
            <button class="deleteCardBtn" (click)="onDeleteCard()"><i class="bi bi-x"></i> Smazat kartu</button>
            }
        </div>
        }
    </div>
    } @else {
    <!-- <div class="skeleton" animate.leave="fade-out">
        @for(i of [1,2,3]; track i) {
        <div class="empty-widget">
            @if (i === 2) {
            <div class="text title">Pracuje se na tom ...</div>
            }
        </div>
        }
    </div> -->
    }
</div>