.card-wrapper {
    margin: 20px;

    .user-card-table {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .head {
            border: 2px solid var(--main-dark);
            padding: 5px;
            margin-bottom: 10px;
            background: var(--table-head);
            color: var(--main-dark);
            justify-content: space-between;
            align-items: center;
            display: flex;
            min-width: 700px;
            font-size: 18px;

            .right,
            .left {
                width: 20%;
                font-weight: 500;
            }

            .left {
                text-align: right;
            }

            .center {
                text-align: center !important;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                font-weight: 500;

                b {
                    margin: 0 10px;
                }

                .position {
                    width: 33px;
                    height: 33px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 5px;
                    border: 1px solid var(--main-dark);
                    color: var(--main-dark);
                    font-weight: 500;
                    transition: 0.2s;
                }

                .position:hover {
                    cursor: pointer;
                }

                .position.one-position:hover {
                    cursor: default;
                }

                .position.active {
                    color: var(--white);
                    background: var(--main-dark);
                }
            }
        }

        .table {
            margin-bottom: 20px;

            thead {
                --bs-table-bg: var(--main-dark) !important;
                --bs-table-border-color: none;
                display: table;
                width: 100%;
                table-layout: fixed;
                font-weight: 500;

                tr th {
                    height: 25px !important;
                    font-size: 0.9rem;
                    padding: 0 !important;
                    font-weight: 500;
                    vertical-align: middle !important;
                }
            }

            tbody {
                border-top: none;
                max-height: 580px;
                display: block;

                tr {
                    border-color: var(--main-dark) !important;
                    display: table;
                    width: 100%;
                    table-layout: fixed;

                    td {
                        font-size: 0.8rem;
                        color: var(--main-dark);
                        height: 20px !important;
                        padding: 0 !important;
                        vertical-align: middle !important;
                        font-weight: 500;
                        transition: 0.2s ease-in-out;

                        .bi {
                            font-size: 12px;
                        }

                        button {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 15px;

                            i {
                                font-size: 0.5rem;
                            }
                        }
                    }

                    td.perso {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 245px;
                        text-align: center;
                    }
                }

                tr:hover td {
                    background: var(--table-row-hover) !important;
                    cursor: pointer;
                }
            }
        }

        h4 {
            margin-top: 60px;
            margin-bottom: 30px;
            color: var(--main-dark);
            font-weight: bold;
        }

        .action-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .deleteCardBtn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 130px;
                font-size: 13px;
                background: var(--main-red);
                color: var(--white);
                border: none;
                transition: ease 0.3s all;
                position: absolute;
                bottom: 10px;
                left: 20px;
                font-weight: 600;

                i {
                    font-size: 1.3rem;
                    font-weight: bold;
                }

                .spinner-border {
                    width: 15px;
                    height: 15px;
                }
            }

            .pdfBtn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 130px;
                background: var(--main-dark);
                color: var(--white);
                border: none;
                transition: ease 0.3s all;
                position: absolute;
                bottom: 10px;
                right: 20px;
                font-size: 13px;
                font-weight: 600;

                i {
                    font-size: 1.1rem;
                    font-weight: bold;
                    transition: .5s ease-in-out;
                }

                .spinner-border {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

    .empty-shifts {
        margin-top: 15%;
        margin-left: auto;
        margin-right: auto;
    }
}