<form>
    <div class="shift-card d-flex flex-row justify-content-between ms-2 me-2">

        <div class="user-info d-flex flex-column me-3">
            <select name="users" id="users-select" disabled>
            </select>
        </div>
        <div class="user-info d-flex flex-column align-items-center">
            <select name="positions" id="positions-select" disabled>
            </select>
        </div>
        <div class="shift-time d-flex flex-column align-items-center">
            <div class="picker"></div>

        </div>
        <div class="shift-time d-flex flex-column align-items-center">
            <div class="picker"></div>
        </div>
        <div class="d-flex flex-column align-items-end me-3">
            <input id="float-input" disabled>

        </div>
        <div class="d-flex flex-column align-items-end me-3">
            <button class="submit d-flex flex-column justify-content-center align-items-center" type="button">

            </button>
        </div>
        <div class="d-flex flex-column align-items-end">
            <button class="delete d-flex flex-column justify-content-center align-items-center" type="button">

            </button>
        </div>

    </div>
</form>