p-toast {
    --p-toast-error-background: red !important;
    --p-toast-error-color: #fff;
    --p-toast-error-close-button-hover-background: red !important;
    --p-toast-error-close-button-focus-ring-color: red;
    --p-toast-error-detail-color: #fff;

    --p-toast-success-background: #22C55E !important;
    --p-toast-success-color: #fff;
    --p-toast-success-close-button-hover-background: #22C55E !important;
    --p-toast-success-close-button-focus-ring-color: #22C55E;
    --p-toast-success-detail-color: #fff;

    --p-toast-info-background: #24355A !important;
    --p-toast-info-color: #fff;
    --p-toast-info-close-button-hover-background: #24355A !important;
    --p-toast-info-close-button-focus-ring-color: #24355A;
    --p-toast-info-detail-color: #fff;

    --p-toast-warn-background: #F97316 !important;
    --p-toast-warn-color: #fff;
    --p-toast-warn-close-button-hover-background: #F97316 !important;
    --p-toast-warn-close-button-focus-ring-color: #F97316;
    --p-toast-warn-detail-color: #fff;

    z-index: 999999;
}