p-toast {
    --p-toast-error-background: red !important;
    --p-toast-error-color: #fff;
    --p-toast-error-close-button-hover-background: red !important;
    --p-toast-error-close-button-focus-ring-color: red;
    --p-toast-error-detail-color: #fff;

    --p-toast-success-background: #22C55E !important;
    --p-toast-success-color: #fff;
    --p-toast-success-close-button-hover-background: #22C55E !important;
    --p-toast-success-close-button-focus-ring-color: #22C55E;
    --p-toast-success-detail-color: #fff;
}