.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 0.6rem;

    .upper {
        margin-top: 5px;
    }

    .lower {
        margin-bottom: 5px;
    }

}