.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    font-size: 0.7rem;

    .upper {
        margin-top: 6px;
    }

    .lower {
        margin-bottom: 6px;
    }

}