.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;

    .navigation {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -40px;
    }

    .navigation ul {
        display: flex;
        padding-left: 0;
    }

    .navigation ul li {
        position: relative;
        list-style: none;
        width: 70px;
        height: 70px;
        z-index: 1;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin: 0 7px;
        transition: 0.4s;
        border: 2px solid #24355A;
        color: #24355A;
        background: #fff;
        font-weight: 700;

        span.icon {
            font-size: 1.5rem;
        }

        span.text {
            font-size: 0.9rem;
        }
    }

    .navigation ul .calendarDiv {
        width: 190px;
        height: 50px;
        position: absolute;
        left: -110px;
        top: 15px;
    }

    .navigation ul li.active {
        background: #24355A;
        color: #fff;
    }

    .navigation ul li:hover {
        background: #24355A;
        color: #fff;
        box-shadow: 0 2px 25px #24355A;
    }

    .navigation ul li.add {
        border: 1px solid #F53B57 !important;
        background: #F53B57;
        color: #fff;
    }

    .navigation ul li.add:hover {
        box-shadow: 0 2px 25px #F53B57;
    }

    .navigation ul li.check {
        border: 1px solid #ffa801 !important;
        background: #ffa801;
        color: #fff;
    }

    .navigation ul li.check:hover {
        box-shadow: 0 2px 25px #ffa801;
    }

    .unitList {
        box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        padding: 20px;

        .row {
            .col.center {
                font-size: 1.1rem;
                font-weight: bold;
                color: #24355A;
                text-align: center;
            }

            .col.text-left {
                width: 100%;
                text-align: left;
                color: #24355A;
                font-size: 1.1rem;
                font-weight: bold;
            }

            .col.text-right {
                width: 100%;
                text-align: right;
                color: #24355A;
                font-size: 1.1rem;
                font-weight: bold;
            }
        }

        .col-4 {
            .row {
                color: #24355A;

                .col.first {
                    text-align: left !important;
                }

                .col.second {
                    text-align: right !important;
                }
            }

            .row.dateValid:hover {
                background: #e2e2e2;
                cursor: pointer;
                border-radius: 20px;
            }
        }
    }

    .empty-shifts {
        margin-top: 15%;

        h3,
        h4 {
            font-weight: bold;
            color: #24355A;
            margin-top: 0px !important;
        }
    }
}