.wrapper {
    overflow: hidden !important;
}

.main {
    margin-top: 180px;
}

.side-image {
    background-image: url('/main.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
}

.row {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.right {
    padding: 0 20px;
}

.input-box {
    width: 330px;
    box-sizing: border-box;

    app-field {
        width: 95%;
    }
}

.submit {
    outline: none;
    height: 40px;
    background: var(--main-dark);
    border-radius: 35px;
    transition: 0.4s;
    color: var(--white);
}

.submit:disabled {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .side-image {
        display: none;
    }

    .row {
        width: 80%;
    }
}