.container {
    display: grid;
    width: 100%;

    .unit-card {
        margin: 150px 0 0 0;
        display: flex;
        justify-content: center;
        grid-column: 1;
        grid-row: 1;

        swiper-container {
            width: 900px;
            height: 500px;

            swiper-slide {
                background: #fff !important;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;

                .unitList {
                    min-width: 850px;
                    padding: 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center !important;
                    align-items: center;

                    .head {
                        border: 2px solid #864912;
                        border-radius: 5px;
                        padding: 5px;
                        font-weight: bold;
                        background: #f8f8f4;
                        color: #864912;
                        justify-content: space-between;
                    }

                    .col-4 {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .row {
                            color: #864912;
                            border: 1px solid #864912;
                            border-radius: 5px;
                            margin: 3px 0 !important;

                            .col.first {
                                text-align: left !important;
                            }

                            .col.second {
                                text-align: right !important;
                            }
                        }

                        .row.empty {
                            border: none;
                            height: 28px;
                        }
                    }

                    .foot {
                        border: 1px solid #864912;
                        border-radius: 5px;
                        padding: 5px;
                        font-weight: bold;
                        background: #f8f8f4;
                        color: #864912;
                        justify-content: center;
                        align-items: center;

                        .delBtn {
                            width: 100px;
                            height: 25px;
                            position: absolute;
                            right: 65px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid #EF4444;
                            background: #EF4444;
                            color: #fff;
                            font-weight: bold;
                            border-radius: 5px;

                            .bi {
                                font-size: 0.9rem;
                            }
                        }

                        .delBtn:active,
                        .delBtn:focus {
                            opacity: 0.75;
                        }
                    }
                }
            }
        }
    }

    .missig-items {
        margin: 40px 0 0 0 !important;
        display: grid;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;

        h4 {
            color: #864912;
            font-weight: bold !important;
        }
    }

    .skeleton {
        grid-column: 1;
        grid-row: 1;
        margin: 150px 15% 15% 15%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 20px;
        min-width: 500px;
        height: 500px;
        border-radius: 8px;
        position: relative;

        .unitList {
            min-width: 500px;
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center !important;
            align-items: center;
            margin: 0 12px;

            .head {
                border: 2px solid #e0e0e0;
                border-radius: 5px;
                background: linear-gradient(90deg,
                        #eee 25%,
                        #fff 50%,
                        #eee 75%);
                background-size: 400% 100%;
                animation: shimmer 2s infinite linear;
                height: 38px;
            }

            .col-4 {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .row {
                    border: 1px solid #e0e0e0;
                    border-radius: 5px;
                    margin: 3px 0 !important;

                    background: linear-gradient(90deg,
                            #eee 25%,
                            #fff 50%,
                            #eee 75%);
                    background-size: 400% 100%;
                    animation: shimmer 2s infinite linear;
                    width: 281px;
                    height: 24px !important;
                }
            }

            .foot {
                border: 1px solid #e0e0e0;
                border-radius: 5px;
                justify-content: end;
                align-items: center;

                border: 2px solid #e0e0e0;
                border-radius: 5px;
                background: linear-gradient(90deg,
                        #eee 25%,
                        #fff 50%,
                        #eee 75%);
                background-size: 400% 100%;
                animation: shimmer 2s infinite linear;
                height: 36px;

                .delBtn {
                    width: 100px;
                    height: 25px;
                    position: relative;
                    right: 65px;
                    border: 2px solid #e0e0e0;
                    border-radius: 5px;
                    background: linear-gradient(90deg,
                            #eee 25%,
                            #fff 50%,
                            #eee 75%);
                    background-size: 400% 100%;
                    animation: shimmer 2s infinite linear;
                }
            }
        }
    }
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}