<div class="container">
    @if (!warehouseStore.isLoading()) {
    <div class="unit-card d-flex justify-content-center" animate.enter="fade-in">
        @if (cards().length > 0) {
        <swiper-container #swiperRef effect="cards" grab-cursor="true" (swiperinit)="onSwiperInit($event)"
            (swiperslidechange)="onSlideChange($event)">
            @for(card of cards(); track $index) {
            <swiper-slide class="d-flex flex-row justify-content-center align-items-center">
                @if (card.units.length > 0) {
                <div class="row unitList">
                    <div class="row mb-3 head justify-content-between">
                        <div class="col text-left">
                            {{card.warehouseItemName}}
                        </div>
                        <div class="col" style="text-align: right !important;">
                            {{ card.monthYearName}}
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-column justify-content-center">
                        @for(unit of card.units | slice:0:11; track $index) {
                        <app-warehouse-input [unit]="unit" />
                        }
                    </div>
                    <div class="col-4 d-flex flex-column justify-content-center">
                        @for(unit of card.units | slice:11:22; track $index) {
                        <app-warehouse-input [unit]="unit" />
                        }
                    </div>
                    <div class="col-4 d-flex flex-column justify-content-center">
                        @for(unit of card.units | slice:22:card.units.length; track $index) {
                        <app-warehouse-input [unit]="unit" />
                        }

                        @switch (card.units.length) {
                        @case (31) {
                        @for(i of [1,2]; track i) {
                        <div class="row empty w-100 mt-1">
                            <div class="col first" style="color: #fff">00</div>
                            <div class="col second" style="color: #fff">-</div>
                        </div>
                        }
                        }

                        @case (30) {
                        @for(i of [1,2,3]; track i) {
                        <div class="row empty w-100 mt-1">
                            <div class="col first" style="color: #fff">00</div>
                            <div class="col second" style="color: #fff">-</div>
                        </div>
                        }
                        }

                        @case (29) {
                        @for(i of [1,2,3,4]; track i) {
                        <div class="row empty w-100 mt-1">
                            <div class="col first" style="color: #fff">00</div>
                            <div class="col second" style="color: #fff">-</div>
                        </div>
                        }
                        }

                        @case (28) {
                        @for(i of [1,2,3,4,5]; track i) {
                        <div class="row empty w-100 mt-1">
                            <div class="col first" style="color: #fff">00</div>
                            <div class="col second" style="color: #fff">-</div>
                        </div>
                        }
                        }
                        }
                    </div>
                    <div class="row mt-3 foot justify-content-center align-items-center">
                        @if (card.id > 0) {
                        <button hide
                            class="delBtn fw-bold d-flex flex-row justify-content-center align-items-center text-white"
                            type="button" (click)="warehouseStore.requestDeleteCard()">
                            @if (!warehouseStore.isDeletingCard()) {
                            Smazat&nbsp;<i class="bi bi-trash fw-bold"></i>
                            } @else {
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            }
                        </button>
                        }
                    </div>
                </div>
                }
            </swiper-slide>
            }
        </swiper-container>
        <app-paging>
            <app-prev-next-button icon="bi-caret-left" (click)="movePrevious()"
                [disabled]="this.warehouseStore.sliceIndex() === 0" />
            <app-destination-button [destination]="warehouseStore.destination()" />
            <app-prev-next-button icon="bi-caret-right" (click)="moveNext()"
                [disabled]="this.warehouseStore.sliceIndex() === this.warehouseStore.cards().length - 1" />
        </app-paging>
        } @else {
        <div class="missig-items position-absolute flex-column justify-content-center align-items-center"
            animate.enter="fade-in">
            <h4 class="fw-bold">Nenalezeny data v databázi.</h4>
        </div>
        }
    </div>
    } @else {
    <!-- <app-units-skeleton /> -->
    <div class="skeleton position-relative d-flex flex-column justify-content-center" animate.leave="fade-out">
        <div class="row unitList d-flex flex-row justify-content-center align-items-center">
            <div class="row mb-3 head">
            </div>
            <div class="col-4 d-flex flex-column justify-content-center">
                @for(i of [1,2,3,4,5,6,7,8,9,10,11]; track $index) {
                <div class="row w-100 mt-1">
                </div>
                }
            </div>
            <div class="col-4 d-flex flex-column justify-content-center">
                @for(i of [1,2,3,4,5,6,7,8,9,10,11]; track $index) {
                <div class="row w-100 mt-1">
                </div>
                }
            </div>
            <div class="col-4 d-flex flex-column justify-content-center">
                @for(i of [1,2,3,4,5,6,7,8,9,10,11]; track $index) {
                <div class="row w-100 mt-1">
                </div>
                }
            </div>
            <div class="row mt-3 foot justify-content-center align-items-center">
                <button hide class="delBtn" type="button"></button>
            </div>
        </div>
    </div>
    }
</div>