<div class="container">
    @if (!isLoading()) {
    <div class="unit-card" @fadeIn>
        @if (cards().length > 0) {
        <swiper-container #swiperRef effect="cards" grab-cursor="true" (swiperinit)="onSwiperInit($event)">
            @for(card of cards(); track $index) {
            <swiper-slide>
                @if (card.units.length > 0) {
                <div class="row unitList">
                    <div class="row mb-3 head">
                        <div class="col text-left">
                            {{card.warehouseItemName}}
                        </div>
                        <div class="col" style="text-align: right !important;">
                            {{ card.monthYearName}}
                        </div>
                    </div>
                    <div class="col-4">
                        @for(unit of card.units | slice:0:11; track $index) {
                        <app-warehouse-input [unit]="unit" [user]="user()" [card]="card" />
                        }
                    </div>
                    <div class="col-4">
                        @for(unit of card.units | slice:11:22; track $index) {
                        <app-warehouse-input [unit]="unit" [user]="user()" [card]="card" />
                        }
                    </div>
                    <div class="col-4">
                        @for(unit of card.units | slice:22:card.units.length; track $index) {
                        <app-warehouse-input [unit]="unit" [user]="user()" [card]="card" />
                        }

                        @switch (card.units.length) {
                        @case (31) {
                        @for(i of [1,2]; track i) {
                        <div class="row empty w-100 mt-1">
                            <div class="col first" style="color: #fff">00</div>
                            <div class="col second" style="color: #fff">-</div>
                        </div>
                        }
                        }

                        @case (30) {
                        @for(i of [1,2,3]; track i) {
                        <div class="row empty w-100 mt-1">
                            <div class="col first" style="color: #fff">00</div>
                            <div class="col second" style="color: #fff">-</div>
                        </div>
                        }
                        }

                        @case (29) {
                        @for(i of [1,2,3,4]; track i) {
                        <div class="row empty w-100 mt-1">
                            <div class="col first" style="color: #fff">00</div>
                            <div class="col second" style="color: #fff">-</div>
                        </div>
                        }
                        }

                        @case (28) {
                        @for(i of [1,2,3,4,5]; track i) {
                        <div class="row empty w-100 mt-1">
                            <div class="col first" style="color: #fff">00</div>
                            <div class="col second" style="color: #fff">-</div>
                        </div>
                        }
                        }
                        }
                    </div>
                    <div class="row mt-3 foot">
                        {{card.destination === 'F-M' ? 'Frýdek-Místek' : 'Ostrava'}}
                        @if (card.id > 0) {
                        <button hide class="delBtn" (click)="onDeleteCard(card.id)">Smazat&nbsp;<i
                                class="bi bi-trash"></i></button>
                        }
                    </div>
                </div>
                }
            </swiper-slide>
            }
        </swiper-container>
        } @else {
        <div class="missig-items" @fadeIn>
            <h4>Chybí položky pro sledování.</h4>
        </div>
        }
    </div>
    } @else {
    <div class="skeleton" @fadeOut>
        <div class="row unitList">
            <div class="row mb-3 head">
            </div>
            <div class="col-4">
                @for(i of [1,2,3,4,5,6,7,8,9,10,11]; track $index) {
                <div class="row w-100 mt-1">
                </div>
                }
            </div>
            <div class="col-4">
                @for(i of [1,2,3,4,5,6,7,8,9,10,11]; track $index) {
                <div class="row w-100 mt-1">
                </div>
                }
            </div>
            <div class="col-4">
                @for(i of [1,2,3,4,5,6,7,8,9,10,11]; track $index) {
                <div class="row w-100 mt-1">
                </div>
                }
            </div>
            <div class="row mt-3 foot">
                <button hide class="delBtn" type="button"></button>
            </div>
        </div>
    </div>
    }
</div>
<app-items-list [items]="items" (selected)="onSelectItem($event)" />