<div class="select-user" [style]="sectionStyles()">
  <h4>
    @switch (this.store.selectedInactive()) {
      @case ("Helper") {
        POMOCKY
      }
      @case ("Driver") {
        ŘIDIČI
      }
      @case ("Cook") {
        KUCHYŇ
      }
      @case ("Pizza") {
        PIZZAŘI
      }
    }
  </h4>

  <div #scrollContainer class="users-list">
    @for (user of users(); track $index) {
      <div class="user" (click)="onSelectUser(user)">
        <div class="line">{{ user.name }} {{ user.surname }}</div>
      </div>
    }
  </div>

  <div class="close">
    <button class="closeBtn" (click)="onClose()">
      <i class="bi bi-x-circle"></i>&nbsp;Zavřít
    </button>
  </div>
</div>
