.line {
    color: var(--main-dark);
    border: 1px solid var(--main-dark);
    margin: 3px 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;

    .column {
        padding: 3px 12px;
    }

    .column.first {
        width: 100px;
        text-align: left !important;
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        color: var(--main-dark);
        font-weight: 500;
        align-items: center;
        height: 100%;
    }

    .column.second {
        width: 150px;
        padding: 0;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        align-items: center;

        input,
        input:active,
        input:focus {
            width: 80px !important;
            font-size: 0.8rem;
            height: 22px;
            text-align: center;
            border-radius: 0;
            border: none;
            background: var(--table-head);
            color: var(--main-dark);
            font-weight: 500;
            outline: none;
            border: 1px solid var(--main-dark);
        }

        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 12px 0 10px;

            .spinner-border {
                --bs-spinner-width: 1rem;
                --bs-spinner-height: 1rem;
            }

            button {
                height: 20px;
                width: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all 0.3s ease-in-out;

                .bi {
                    font-size: 0.7rem !important;
                    font-weight: bold;
                }
            }

            button.save-button {
                // color: var(--main-dark);
                border: 1px solid var(--main-dark);
                color: var(--white);
                background: var(--main-dark);
                // background: var(--white);
                padding: 0;
            }

            button.save-button:hover {
                // color: var(--white);
                // background: var(--main-dark);
                // background: var(--white);
                // color: var(--main-dark);
                //border: 1px solid var(--main-dark);
                cursor: pointer;
            }

            button.delete-button {
                color: var(--white);
                background: var(--main-red);
                // color: var(--main-red);
                // background: var(--white);
                border: 1px solid var(--main-red);
                padding: 0;
            }

            button.delete-button:hover {
                // color: var(--main-red);
                // background: var(--white);
                // color: var(--white);
                // background: var(--main-red);
                cursor: pointer;
            }
        }
    }
}

.row.dateValid:hover {
    background: #e2e2e2;
    cursor: pointer;
}