 .skeleton {
     grid-column: 1;
     grid-row: 1;
     display: flex;
     justify-content: center;
     flex-direction: column;
     width: 100%;
     position: relative;

     .table {
         display: flex;
         flex-direction: column;
         margin-top: 90px;

         .table-head {
             display: flex;
             flex-direction: row;
             margin-bottom: 10px;

             .user-name {
                 min-width: 150px !important;
                 margin-right: 10px;
                 border: 1px solid var(--main-disabled);
                 background: linear-gradient(90deg,
                         #eee 25%,
                         #fff 50%,
                         #eee 75%);
                 background-size: 400% 100%;
                 animation: shimmer 2s infinite linear;
             }

             .cell {
                 border: 1px solid var(--main-disabled);
                 background: linear-gradient(90deg,
                         #eee 25%,
                         #fff 50%,
                         #eee 75%);
                 background-size: 400% 100%;
                 animation: shimmer 2s infinite linear;
                 width: 35px !important;
                 height: 35px !important;
             }
         }

         .body {
             .table-row {
                 display: flex;
                 flex-direction: row;
                 margin: 5px 0;

                 .user-name {
                     min-width: 150px !important;
                     margin-right: 10px;
                     border: 1px solid var(--main-disabled);
                     background: linear-gradient(90deg,
                             #eee 25%,
                             #fff 50%,
                             #eee 75%);
                     background-size: 400% 100%;
                     animation: shimmer 2s infinite linear;
                 }

                 .drop-zone {
                     width: 35px !important;
                     height: 35px !important;
                     border: 1px solid var(--main-disabled);
                     margin-right: 2px;
                     background: linear-gradient(90deg,
                             #eee 25%,
                             #fff 50%,
                             #eee 75%);
                     background-size: 400% 100%;
                     animation: shimmer 2s infinite linear;
                 }
             }
         }
     }
 }

 @keyframes shimmer {
     0% {
         background-position: -200% 0;
     }

     100% {
         background-position: 200% 0;
     }
 }