<div class="skeleton">
    <div class="table">
        <div class="table-head">
            <div class="user-name"></div>
            @for(shift of emptyDays; track $index) {
            <th>
                <div class="cell"></div>
            </th>
            }
        </div>
        <div class="body">
            @for(user of emptyUsers; track $index; let i = $index) {
            <div class="table-row">
                <div class="user-name"></div>
                @for(shift of emptyDays; track $index; let j = $index) {
                <th class="drop-zone"></th>
                }
            </div>
            }
        </div>
    </div>
</div>