.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .category {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 230px;
            height: 180px;
            cursor: pointer;
            margin: 10px 0;

            img {
                position: absolute;
                width: 230px;
                height: 180px;
                border-radius: 5px;
            }

            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.45);
                transition: 0.3s ease-in-out;
                border-radius: 5px;
            }

            .category_text {
                position: relative;
                color: white;

                .category_text_icon {
                    i {
                        font-size: 3rem;
                    }
                }

                p {
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }

            &:hover {
                .overlay {
                    width: 80%;
                    height: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 599px) {
    .container {
        position: relative;
        margin-top: 100px;

        .row {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
        }
    }
}