<div class="container text-center">
    <div class="row">
        <div class="col" hide>
            <div class="category" routerLink="/users">
                <img src="/users.jpg" alt="" />
                <div class="overlay"></div>
                <div class="category_text">
                    <div class="category_text_icon"><i class="bi bi-people"></i>
                    </div>
                    <p>Uživatelé</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="category" routerLink="/plans">
                <img src="/schedule.jpeg" alt="" />
                <div class="overlay"></div>
                <div class="category_text">
                    <div class="category_text_icon"><i class="bi bi-clock"></i></div>
                    <p>Rozpis směn</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="category" routerLink="/shifts">
                <img src="/shifts.jpg" alt="" />
                <div class="overlay"></div>
                <div class="category_text">
                    <div class="category_text_icon"><i class="bi bi-hammer"></i></div>
                    <p>Směny</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="category" routerLink="/warehouse">
                <img src="/sklad.jpg" alt="" />
                <div class="overlay"></div>
                <div class="category_text">
                    <div class="category_text_icon"><i class="bi bi-list-check"></i></div>
                    <p>Sklad</p>
                </div>
            </div>
        </div>
    </div>
</div>