.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    img {
        margin-top: 150px;
    }

    h2 {
        color: #cf0a0a;
        font-weight: bold;
    }
}