.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;

    .page-link {
        color: #24355A;
        cursor: pointer;
        margin: 0 10px;
        border-radius: 10%;
        height: 35px;
        width: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        border: 1px solid #24355A;
        // box-shadow: 0 2px 10px #24355A;
        font-weight: bold;
        outline: none;
        transition: 0.3s;
    }

    .page-link.currentPage {
        background: #24355A;
        color: #fff;
    }

    .page-link:not(:disabled):hover {
        background: #24355A;
        color: #fff;
        box-shadow: 0 2px 15px #24355A;
    }

    .page-link:focus,
    .page-link:active {
        outline: none;
        box-shadow: none;
    }

    .page-link:hover.right.hasNextPage,
    .page-link:hover.left.hasPreviousPage {
        background: #24355A;
        color: #fff;
    }

    .page-link:hover.right.disabled,
    .page-link:hover.left.disabled {
        cursor: default;
        pointer-events: none;
    }
}