:host {
    position: fixed;
    right: 10px;
    bottom: -50px;
    //bottom: 10px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    padding: 10px;
    background: #fff;

    .page-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: none !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .page-link {
            color: #fff;
            cursor: pointer;
            border: 1px solid #864912;
            height: 25px;
            width: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #864912;
            border-radius: 10px;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .center {
            color: #864912;
            cursor: pointer;
            margin: 0 7px !important;
            border: none !important;
            height: 25px;
            width: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #fff;
            text-decoration: none;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            font-size: 1.4rem;
        }

        .page-link.currentPage {
            background: #864912;
            color: #fff;
        }

        .page-link:not(:disabled):hover {
            background: #864912;
            color: #fff;
            box-shadow: 0 2px 15px #864912;
        }

        .page-link:focus,
        .page-link:active {
            outline: none;
            box-shadow: none;
        }

        .page-link:hover.right.hasNextPage,
        .page-link:hover.left.hasPreviousPage {
            background: #864912;
            color: #fff;
        }

        .page-link.right.disabled,
        .page-link.left.disabled {
            cursor: default;
            pointer-events: none;
            background: #fff !important;
            color: #864912;
        }
    }
}