<div class="menu">
    <ul>
        <li>
            <a (click)="createUser()">
                <i class="bi bi-person-add"></i>
            </a>
        </li>
        <li>
            <a (click)="store.getUsers()">
                @if (!store.isLoading()) {
                <i class="bi bi-arrow-clockwise"></i>
                } @else {
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                }
            </a>
        </li>

        @let filter = store.filter;
        @let role = store.role;

        <li [class.inactive]="filter() !== 'F-M'">
            <a (click)="store.setFilter('F-M')">
                <p>F-M</p>
            </a>
        </li>
        <li [class.inactive]="filter() !== 'OVA'">
            <a (click)="store.setFilter('OVA')">
                <p>OVA</p>
            </a>
        </li>
        <li [class.inactive]="role() !== 'User'">
            <a (click)="store.setRole('User')">
                <p>U</p>
            </a>
        </li>
        <li [class.inactive]="role() !== 'Master'">
            <a (click)="store.setRole('Master')">
                <p>M</p>
            </a>
        </li>
        <li [class.inactive]="role() !== 'Admin'">
            <a (click)="store.setRole('Admin')">
                <p>A</p>
            </a>
        </li>
        <li [class.inactive]="filter() !== 'All' || role() !== ''">
            <a (click)="store.setFilter('All')">
                <p>VŠE</p>
            </a>
        </li>
    </ul>
</div>