:host {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.menu {
    left: 10px;
    bottom: 10px;
    position: fixed;
    width: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--white);
    border: 1px solid var(--main-border-color);
    transition: 0.2s;

    ul {
        margin: 0;
        padding: 0;
    }
}

.menu li {
    margin: 10px 0;
    list-style: none;
    transition: 0.3s;
    box-shadow: none !important;
    color: var(--white);
}

.menu li.main {
    background-color: var(--main-dark);
}

.menu li.disabled {
    background-color: var(--main-disabled);
}

.menu li a {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    text-decoration: none;

    .bi {
        font-size: 1.5rem;
        margin-top: 2px;
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .spinner-border {
        --bs-spinner-width: 1.4rem;
        --bs-spinner-height: 1.4rem;
    }
}

.menu li:hover {
    cursor: pointer;
}