@use 'animations';
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p-dialog {

    .p-dialog-mask {
        .p-dialog.p-component {


            .p-dialog-header {
                span {
                    font-size: 1rem;
                }

                .p-dialog-header-actions {
                    .p-dialog-close-button {
                        display: none !important;
                    }
                }
            }

            .p-dialog-content {
                .buttons {
                    display: flex;
                    justify-content: end;
                    margin-top: 10px;
                }

                p-button {
                    .p-button {
                        height: 30px !important;
                        width: 90px !important;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

p-dialog {
    .p-dialog-mask.p-overlay-mask {
        z-index: 9999 !important;
    }
}

.p-dialog-mask.p-overlay-mask {
    z-index: 9999 !important;
}

.p-dialog.p-confirmdialog {
    background: #000 !important;
    border: 2px solid #000 !important;
    color: #fff;

    .p-dialog-header {
        display: flex;
        justify-content: center;
        text-transform: uppercase;

        .p-dialog-header-actions {
            display: none !important;
        }
    }

    .p-dialog-content {
        .pi {
            color: #fff !important;
        }
    }
}

p-dialog.select-user {
    .p-dialog-mask {
        .p-dialog.p-component {
            margin-left: 10rem !important;
        }
    }
}

p-dialog.create-unit {
    .p-dialog-mask {
        .p-dialog.p-component {
            height: 240px !important;
        }
    }
}

.p-button {
    margin: 5px;
    border-radius: 6px;
    outline: none;
    box-shadow: none;
    border: none;
    width: 90px;
}

.p-confirm-dialog-accept {
    background: #05C46B;
    color: #fff;
}

.p-dialog-footer {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center;
}

.proposal-calendar {
    p-datepicker {
        .p-datepicker-panel.p-component {
            left: 10px !important;
            min-width: 200px;
        }

        input {
            display: none;
        }

        .p-datepicker-panel.p-component {
            .p-datepicker-month-view {
                .p-datepicker-month.p-datepicker-month-selected {
                    background: #864912 !important;
                    color: #fff !important;
                }
            }

            .p-datepicker-calendar-container {
                .p-datepicker-calendar {
                    .p-datepicker-header {
                        .p-datepicker-title {
                            color: #864912;

                            .p-datepicker-select-year {
                                color: #864912;
                            }
                        }
                    }
                }
            }

            .p-datepicker-month-view {
                .p-datepicker-month.p-datepicker-month-selected {
                    background: #864912 !important;
                    color: #fff;
                }

                span {
                    color: #864912;
                }
            }

            .p-datepicker-calendar-container {
                .p-datepicker-calendar {
                    .p-datepicker-header {
                        p-button {
                            .p-button-text {
                                color: #864912 !important;
                            }
                        }

                        p-button:hover {
                            .p-button-text {
                                background: #864912;
                                color: #fff !important;
                                border: none;
                            }
                        }
                    }
                }
            }

            .p-datepicker-year-view {
                .p-datepicker-year {
                    color: #864912 !important;
                }

                span.p-datepicker-year.p-datepicker-year-selected {
                    background: #864912 !important;
                    color: #fff !important;
                }
            }
        }
    }
}

.warehouse-calendar,
.shifts-calendar {
    p-datepicker {
        min-width: 200px;

        input {
            display: none !important;
        }

        .p-datepicker-panel.p-component {
            .p-datepicker-month-view {
                .p-datepicker-month.p-datepicker-month-selected {
                    background: #864912 !important;
                    color: #fff !important;
                }
            }

            .p-datepicker-calendar-container {
                .p-datepicker-calendar {
                    .p-datepicker-header {
                        p-button {
                            .p-button-text {
                                color: #864912 !important;
                            }
                        }

                        p-button:hover {
                            .p-button-text {
                                background: #864912;
                                color: #fff !important;
                                border: none;
                            }
                        }
                    }
                }
            }

            .p-datepicker-year-view {
                span.p-datepicker-year.p-datepicker-year-selected {
                    background: #864912 !important;
                    color: #fff !important;
                }
            }
        }
    }
}

p-datepicker {
    span {
        input {
            right: 0px;
            position: relative !important;
            top: -300px !important;
            border: 2px solid #fff;
        }
    }
}

.calendarDivShift {
    p-datepicker {

        .p-datepicker-panel.p-component {
            border: 1px solid #864912;

            .p-datepicker-month-view {
                .p-datepicker-month.p-datepicker-month-selected {
                    background: #864912 !important;
                    color: #fff !important;
                }
            }
        }

        input,
        input:disabled {
            position: relative !important;
            top: 0px !important;
            border: 2px solid #fff;
            height: 24px !important;
            border: 1px solid #864912 !important;
            outline: none !important;
            width: 256px;
            text-align: end;
            background: #fff;
            font-size: 0.9rem;
            color: #864912;
            box-shadow: none !important;
        }

        .p-datepicker-panel.p-component {
            top: 40px !important;
            left: -25px !important;
            width: 306px !important;

            .p-datepicker-calendar-container {
                .p-datepicker-calendar {

                    .p-datepicker-header {
                        .p-datepicker-title {

                            .p-datepicker-select-month,
                            .p-datepicker-select-year {
                                color: #864912 !important;
                            }
                        }


                        p-button {
                            .p-button-text {
                                color: #864912 !important;
                            }
                        }

                        p-button:hover {
                            .p-button-text {
                                background: #864912;
                                color: #fff !important;
                                border: none;
                            }
                        }
                    }

                    .p-datepicker-day-view {
                        .p-datepicker-day-selected {
                            background: #864912 !important;
                            color: #fff !important;
                        }
                    }
                }
            }

            .p-datepicker-year-view {
                span.p-datepicker-year.p-datepicker-year-selected {
                    background: #864912 !important;
                    color: #fff !important;
                }
            }
        }
    }
}

.p-datepicker-weekday,
.p-datepicker-day,
.p-datepicker-decade,
.p-datepicker-year,
.p-datepicker-month,
.p-datepicker-select-year {
    color: #864912 !important;
}

.timefromDiv {
    p-datepicker {

        .p-inputtext {
            color: #864912;
        }

        input,
        input:disabled {
            position: relative !important;
            top: 0px !important;
            border: 1px solid #864912 !important;
            outline: none !important;
            height: 24px !important;
            width: 256px;
            text-align: end;
            background: #fff;
            font-size: 0.9rem;
            color: #864912 !important;
            box-shadow: none !important;
        }

        .p-datepicker-panel.p-component {
            top: 40px !important;
            left: -25px !important;
            width: 306px !important;
            height: 130px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid #864912;

            .p-datepicker-time-picker {
                p-button {
                    .p-button-text {
                        color: #864912 !important;
                    }

                    .p-button-text:hover {
                        background: #864912;
                        color: #fff !important;
                        border: none;
                    }
                }

                .p-datepicker-hour-picker span,
                .p-datepicker-separator span,
                .p-datepicker-minute-picker span {
                    color: #864912;
                }
            }
        }
    }
}


.timetoDiv {
    p-datepicker {

        input,
        input:disabled {
            position: relative !important;
            top: 0px !important;
            border: 1px solid #864912 !important;
            outline: none !important;
            height: 24px !important;
            width: 256px;
            text-align: end;
            background: #fff;
            font-size: 0.9rem;
            color: #864912 !important;
            box-shadow: none !important;
        }

        .p-datepicker-panel.p-component {
            top: 40px !important;
            left: -25px !important;
            width: 306px !important;
            height: 130px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid #864912;

            .p-datepicker-time-picker {
                p-button {
                    .p-button-text {
                        color: #864912 !important;
                    }

                    .p-button-text:hover {
                        background: #864912;
                        color: #fff !important;
                        border: none;
                    }

                    .p-button:focus-visible {
                        outline: none !important;
                    }
                }

                .p-datepicker-hour-picker span,
                .p-datepicker-separator span,
                .p-datepicker-minute-picker span {
                    color: #864912;
                }
            }
        }
    }
}

.row.proposal-delete {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: #864912;
    font-weight: bold;

    h4 {
        display: flex;
        justify-content: center;
    }
}

.row.proposal-times {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: #864912;
    font-weight: bold;

    p-datepicker#timeFrom {
        position: absolute !important;
        top: 120px !important;
        left: 90px !important;

        .p-inputtext {
            text-align: center;
            width: 70px !important;
            border: 1px solid #864912;
            color: #864912;
        }

        .p-datepicker-timeonly {
            display: none !important;
        }
    }

    p-datepicker#timeTo {
        position: absolute !important;
        top: 120px !important;
        left: 210px !important;

        .p-inputtext {
            text-align: center;
            width: 70px !important;
            border: 1px solid #864912;
            color: #864912 !important;
        }

        .p-datepicker-timeonly {
            display: none !important;
        }
    }
}

.card {
    .p-dialog-title {
        font-size: 1rem;
    }
}

.drag-item.cdk-drag-dragging {
    border: 2px solid #e2e2e2 !important;
    border-radius: 20px !important;
    color: #864912;
    background: #e2e2e2;
}

.drag-item.cdk-drag-preview {
    max-width: 100% !important;
    box-sizing: border-box !important;
    border: 2px solid #e2e2e2 !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    background: #e2e2e2;
    color: #864912;
}

.drag-item.cdk-drag-preview .col-4 {
    text-align: right !important;
}

.drag-item.cdk-drag-placeholder {
    visibility: hidden !important;
}

.cdk-drag-preview.table-row {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.cdk-drag-preview.table-row .user-name-cell {
    height: 35px;
    width: 150px !important;
    background-color: var(--background-color);
    border: 1px solid #864912;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #864912;
    padding-left: 5px;
}

.cdk-drag-preview.table-row .drop-zone {
    width: 35px !important;
    height: 35px !important;
    border: 1px solid #864912;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    background-color: var(--background-color);
}

.cdk-drag-preview.table-row .drop-zone.last {
    border-color: #fc0202;
    background: #fc0202;
    color: #fff;
    margin-left: 10px;
}

.cdk-drag-preview.table-row .drop-zone.last .bi {
    font-size: 1.3rem;
}

.drag-item.cdk-drag-placeholder.table-row {
    visibility: hidden !important;
}

p-toast {
    .p-toast-bottom-right {
        p-toastitem {
            .p-toast-message {
                margin: 0 !important;

                .p-toast-message-content {
                    .p-toast-message-text {
                        gap: 0rem !important;

                        .p-toast-detail {
                            font-size: 1rem;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

.cdk-overlay-container {
    z-index: 9999;
}

.p-fieldset {
    display: flex;
    flex-direction: row;
    width: 100%;

    .p-fieldset-legend {
        color: #864912;
        font-size: 1rem;
        position: relative;
        top: -22px;
        width: 60px;
    }

    .p-fieldset-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;

        .p-fieldset-content {
            .options {
                .items-center {
                    p-checkbox {
                        margin-left: 20px;
                        margin-right: 15px;

                        div {

                            .p-checkbox-box {
                                border: 1px solid #864912;
                            }
                        }

                    }

                    label {
                        color: #864912;
                        font-weight: 500;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}

.p-fieldset.p-component {
    border: 1px solid #864912 !important;
}

p-checkbox {

    .p-checkbox.p-component.p-checkbox-checked.p-highlight.p-disabled {
        .p-checkbox-box {
            .p-component.p-iconwrapper {
                .p-checkbox-icon.p-icon {
                    color: #fff;
                }
            }
        }
    }

    .p-checkbox.p-component.p-disabled .p-checkbox-box {
        background: #fff;
        border-color: #864912 !important;
    }

    div {
        .p-checkbox-box {
            border: 1px solid #864912;
        }
    }
}

.p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box {
    border: 1px solid #864912 !important;
}

.p-checkbox-checked .p-checkbox-box {
    border-color: #864912 !important;
    background: #864912 !important;
}

.col-4 p-checkbox {
    margin-right: 10px;
}

// ::view-transition-old(root) {
//     animation: exit 400ms ease-out 0s 1 normal forwards;
// }

// ::view-transition-new(root) {
//     animation: enter 600ms ease-in 0s 1 normal forwards;
// }

// .fade-in {
//     animation: enter 600ms ease-in both;
// }

// .fade-out {
//     animation: exit 500ms ease-out both;
// }

// .fast-in {
//     animation: enter 200ms ease-in both;
// }

// .fast-out {
//     animation: exit 100ms ease-out both;
// }

// @keyframes enter {
//     from {
//         opacity: 0;
//     }

//     to {
//         opacity: 1;
//     }
// }

// @keyframes exit {
//     from {
//         opacity: 1;
//     }

//     to {
//         opacity: 0;
//     }
// }