:host {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shift {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: var(--white);
    font-size: 1.3rem;
    padding: 0px !important;
    width: 35px !important;
    height: 35px !important;
    border: 1px solid var(--main-dark);
}

.shift.whole {
    background: var(--main-green);
}

.shift.dest {
    font-size: 0.8rem;
    background: var(--black);
    font-weight: 600;
}

.shift.morning {
    background: var(--proposal-orange);
}

.shift.afternoon {
    background: var(--main-red);
}

.shift.custom {
    background: var(--main-disabled);

    .upper {
        font-size: 0.8rem;
        margin-top: 8px;
        font-weight: 500;
    }

    .lower {
        font-size: 0.8rem;
        margin-bottom: 5px;
        font-weight: 500;
    }
}

.shift.morning,
.shift.afternoon {

    .upper {
        position: relative;
        top: 4px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        font-weight: 500;
        font-size: 1rem;
    }

    .lower {
        position: relative;
        bottom: 3px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        font-weight: 500;
        font-size: 1rem;
    }
}