<div class="block">
    @if (!warehouseStore.isLoading()) {
    <div class="wrapper d-flex" animate.enter="fade-in" animate.leave="fade-out">
        @if (cards().length > 0) {
        <div class="table">
            <div class="table-head d-flex">
                <div class="first-head-cell d-flex flex-row align-items-center justify-content-between">
                    {{cards()[0].monthYearName}}
                    <div class="destination d-flex flex-column align-items-center justify-content-center">
                        {{ destination()}}
                    </div>
                </div>
                @for (unit of cards()[0].units; track $index) {
                <div class="d-flex flex-column align-items-center justify-content-center"
                    [class]="isToday(unit.date) ? 'today-head-cell' : 'head-cell'">{{$index + 1}}.</div>
                }
            </div>
            <div class="body">
                @for(card of cards(); track $index; let x = $index) {
                <div class="table-row d-flex flex-row">
                    <div class="first-table-cell">{{ overviewItems()[x] }}</div>
                    @for (day of days(); track $index; let y = $index) {
                    <div class="cell">
                        @if (overviewCard()!.lines[x].days[y].amount === 'L') {
                        <div class="spinner">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        } @else {
                        <input [value]="overviewCard()!.lines[x].days[y].amount"
                            (keydown.enter)="onChangeInput(x, y, $event)"
                            [disabled]="warehouseStore.isSaving() || isDisabled(card.units[y].date)"
                            [class.input-success]="highlightedInputs.has(x + '-' + y)"
                            [class.master]="isToday(card.units[y].date)" />
                        }
                    </div>
                    }
                </div>
                }
            </div>
        </div>
        } @else {
        <div class="empty-item" animate.enter="fade-in">
            <h4>Nenalezeny data v databázi.</h4>
        </div>
        }
    </div>
    } @else {
    <app-skeleton-overview />
    }
</div>