:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.block {
    flex-direction: column;
    width: 100%;
    align-items: center;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-auto-columns: 600px;

    .wrapper {
        margin-top: 80px;
        grid-column: 1;
        grid-row: 1;

        .table {
            .table-head {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                font-size: 0.9rem;

                .first-head-cell {
                    min-width: 150px !important;
                    margin-right: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    border: 1px solid #24355A;
                    background: #24355A;
                    color: #fff;
                    padding: 8px;
                    border-radius: 5px;
                    font-weight: 700;
                    height: 35px !important;
                }

                .head-cell {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #24355A;
                    background: #24355A;
                    color: #fff;
                    padding: 8px;
                    border-radius: 5px;
                    font-weight: 700;
                    width: 35px !important;
                    height: 35px !important;
                    margin-right: 2px;
                }
            }


            .body {
                .table-row {
                    display: flex;
                    flex-direction: row;
                    margin: 5px 0;

                    .first-table-cell {
                        height: 35px;
                        width: 150px !important;
                        border: 1px solid #1e81b0;
                        border-radius: 5px;
                        margin-right: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        border: 1px solid #1e81b0;
                        background: #1e81b0;
                        color: #fff;
                        font-size: 0.9rem;
                        font-weight: 700;
                    }

                    .cell {
                        width: 35px !important;
                        height: 35px !important;
                        padding: 0 !important;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-right: 2px;
                        font-size: 0.7rem;
                        transition: 0.2s;

                        .spinner {
                            width: 35px !important;
                            height: 35px !important;
                            padding: 0 !important;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid #666;
                            border-radius: 5px;

                            .spinner-border {
                                --bs-spinner-width: 1.5rem;
                                --bs-spinner-height: 1.5rem;
                            }

                            .text-secondary {
                                --bs-text-opacity: 1;
                                color: #24355A !important;
                            }
                        }

                        input {
                            width: 35px !important;
                            height: 35px !important;
                            border: 1px solid #666;
                            border-radius: 5px;
                            outline: none;
                            text-align: center;
                            transition: 0.2s;
                            font-weight: 600;
                        }

                        input:active,
                        input:focus {
                            cursor: default;
                            background: #1e81b0;
                            color: #fff;
                        }
                    }

                    .cell:hover {
                        cursor: pointer;

                        input {
                            cursor: pointer;
                            background: #1e81b0;
                            border: 1px solid #1e81b0;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}