<div class="block">
    @if (!uploadingCards()) {
    <div class="wrapper" @fadeIn @fadeOut>
        @if (cards().length > 0) {
        <div class="table">
            <div class="table-head">
                <div class="first-head-cell">
                    {{cards()[0].monthYearName}}
                    <div class="destination">
                        {{ destination()}}
                    </div>
                </div>

                @for (unit of cards()[0].units; track $index) {
                <div [class]="isToday(unit.date) ? 'today-head-cell' : 'head-cell'">{{$index + 1}}.</div>
                }

            </div>

            <div class="body">
                @for(card of cards(); track $index; let x = $index) {
                <div class="table-row">
                    <div class="first-table-cell">{{ items()[x] }}</div>
                    @for (day of days(); track $index; let y = $index) {
                    <div class="cell">
                        @if (overviewCard()!.lines[x].days[y].amount === 'L') {
                        <div class="spinner">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        } @else {
                        <input [value]="overviewCard()!.lines[x].days[y].amount"
                            (keydown.enter)="onChangeInput(x, y, $event)"
                            [disabled]="isUpdating() || isDisabled(card.units[y].date)"
                            [class.input-success]="highlightedInputs.has(x + '-' + y)"
                            [class.master]="isToday(card.units[y].date)" />
                        }
                    </div>
                    }
                </div>
                }
            </div>
        </div>
        } @else {
        <div class="empty-item" @fadeIn>
            <h4>Nenalezeny data v databázi.</h4>
        </div>
        }
    </div>
    } @else {
    <div class="skeleton" @fadeIn @fadeOut>
        <div class="empty-table">
            <div class="empty-table-head">
                <div class="empty-first-head-cell"></div>
                @for (day of emptyDays(); track $index) {
                <div class="empty-head-cell"></div>
                }
            </div>

            <div class="empty-body">
                @for(card of emptyCards; track $index) {
                <div class="empty-table-row">
                    <div class="empty-first-table-cell"></div>
                    @for (day of emptyDays(); track $index) {
                    <div class="empty-cell">
                    </div>
                    }
                </div>
                }
            </div>
        </div>
    </div>
    }
</div>