.block {
    width: 100%;
    display: grid;
    justify-content: center;

    .wrapper {
        margin: 130px 0 0 0;
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: center;

        .table {
            .table-head {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                font-size: 0.9rem;

                .first-head-cell {
                    min-width: 150px !important;
                    margin-right: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid #24355A;
                    background: #24355A;
                    color: #fff;
                    padding: 8px;
                    border-radius: 5px;
                    font-weight: 700;
                    height: 35px !important;

                    .destination {
                        width: 25px;
                        height: 25px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: 0.6rem;
                        border-radius: 50%;
                        padding: 2px;
                    }
                }

                .head-cell {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #24355A;
                    background: #24355A;
                    color: #fff;
                    padding: 8px;
                    border-radius: 5px;
                    font-weight: 700;
                    width: 35px !important;
                    height: 35px !important;
                    margin-right: 2px;
                }
            }


            .body {
                .table-row {
                    display: flex;
                    flex-direction: row;
                    margin: 5px 0;

                    .first-table-cell {
                        height: 35px;
                        width: 150px !important;
                        border: 1px solid #1e81b0;
                        border-radius: 5px;
                        margin-right: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        border: 1px solid #1e81b0;
                        background: #1e81b0;
                        color: #fff;
                        font-size: 0.9rem;
                        font-weight: 700;
                    }

                    .cell {
                        width: 35px !important;
                        height: 35px !important;
                        padding: 0 !important;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-right: 2px;
                        font-size: 0.7rem;
                        transition: 0.2s;

                        .spinner {
                            width: 35px !important;
                            height: 35px !important;
                            padding: 0 !important;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid #666;
                            border-radius: 5px;

                            .spinner-border {
                                --bs-spinner-width: 1.5rem;
                                --bs-spinner-height: 1.5rem;
                            }

                            .text-secondary {
                                --bs-text-opacity: 1;
                                color: #24355A !important;
                            }
                        }

                        input {
                            width: 35px !important;
                            height: 35px !important;
                            border: 1px solid #666;
                            border-radius: 5px;
                            outline: none;
                            text-align: center;
                            transition: 0.2s;
                            font-weight: 600;
                            color: #666;
                        }

                        input:active,
                        input:focus {
                            cursor: default;
                            background: #1e81b0;
                            color: #fff;
                        }
                    }

                    .cell:hover {

                        input {
                            cursor: pointer;
                            background: #1e81b0;
                            border: 1px solid #1e81b0;
                            color: #fff;
                        }

                        input:disabled {
                            pointer-events: none;
                            cursor: default !important;
                            background: #fff !important;
                            border: 1px solid #666;
                            color: #666;
                        }
                    }
                }
            }
        }
    }

    .skeleton {
        grid-column: 1;
        grid-row: 1;
        margin: 130px 0 0 0;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .empty-table {
            .empty-table-head {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;

                .empty-first-head-cell {
                    min-width: 150px !important;
                    margin-right: 10px;
                    border: 1px solid #666;
                    border-radius: 5px;
                    height: 35px !important;
                    background: linear-gradient(90deg,
                            #eee 25%,
                            #fff 50%,
                            #eee 75%);
                    background-size: 400% 100%;
                    animation: shimmer 2s infinite linear;
                }

                .empty-head-cell {
                    border: 1px solid #666;
                    border-radius: 5px;
                    width: 35px !important;
                    height: 35px !important;
                    margin-right: 2px;
                    background: linear-gradient(90deg,
                            #eee 25%,
                            #fff 50%,
                            #eee 75%);
                    background-size: 400% 100%;
                    animation: shimmer 2s infinite linear;
                }
            }

            .empty-body {
                .empty-table-row {
                    display: flex;
                    flex-direction: row;
                    margin: 5px 0;

                    .empty-first-table-cell {
                        height: 35px;
                        width: 150px !important;
                        border: 1px solid #666;
                        border-radius: 5px;
                        margin-right: 10px;
                        background: linear-gradient(90deg,
                                #eee 25%,
                                #fff 50%,
                                #eee 75%);
                        background-size: 400% 100%;
                        animation: shimmer 2s infinite linear;
                    }

                    .empty-cell {
                        width: 35px !important;
                        height: 35px !important;
                        border: 1px solid #666;
                        border-radius: 5px;
                        margin-right: 2px;
                        background: linear-gradient(90deg,
                                #eee 25%,
                                #fff 50%,
                                #eee 75%);
                        background-size: 400% 100%;
                        animation: shimmer 2s infinite linear;
                    }
                }
            }
        }
    }
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}